In [629]:
import PDF_analyzer as pa
import fitz
import numpy as np
import pandas as pd
import pickle

PATH = "/Users/jedrek/Documents/Studium Volkswirschaftslehre/3. Semester/Long-run dynamics of wealth inequalities/Paper/Data/CBOS pdf"

In [489]:
file = f"{PATH}/CBOS_1_01_1990.pdf"
page = 59
analyzer = pa.PDFAnalyzer(file)
page_sizes = [analyzer.get_page_size(i) for i in range(len(analyzer.doc))]
results = analyzer.get_blocks_on_page(page-1)
size = analyzer.get_page_size(page-1)
drawings = analyzer.get_drawings_on_page(page-1)
analyzer.close()

print(type(results))
print(page_sizes)
print(results)

<class 'list'>
[(595.3200073242188, 841.9199829101562), (595.3200073242188, 841.9199829101562), (595.3200073242188, 841.9199829101562), (595.3200073242188, 841.9199829101562), (595.3200073242188, 841.9199829101562), (612.47998046875, 839.0399780273438), (612.47998046875, 839.0399780273438), (595.0, 842.0), (595.0, 842.0), (595.0, 842.0), (595.0, 842.0), (595.0, 842.0), (595.0, 842.0), (595.0, 842.0), (595.0, 842.0), (595.0, 842.0), (595.0, 842.0), (595.0, 842.0), (595.0, 842.0), (595.0, 842.0), (595.0, 842.0), (595.0, 842.0), (595.0, 842.0), (612.0, 792.0), (612.0, 792.0), (612.0, 792.0), (612.0, 792.0), (612.0, 792.0), (612.0, 792.0), (612.0, 792.0), (612.0, 792.0), (612.0, 792.0), (612.0, 792.0), (612.0, 792.0), (612.0, 792.0), (612.0, 792.0), (612.0, 792.0), (612.0, 792.0), (612.0, 792.0), (612.0, 792.0), (612.0, 792.0), (612.0, 792.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0), (792.0, 612.0)]
[(79.12000274658203, 79.02854919433594, 95.387451171875, 88.77854919433594, 'q17\n', 0, 0), (423.3699951171875, 97.8028335571289, 672.2213745117188, 107.5528335571289, 'Wartość\nLiczebność\nProcent\n', 1, 0), (200.6199951171875, 113.5528335571289, 211.4649658203125, 123.3028335571289, '97\n', 2, 0), (200.6199951171875, 129.30282592773438, 211.4649658203125, 139.05282592773438, '98\n', 3, 0), (320.6199951171875, 113.5528335571289, 669.8431396484375, 123.3028335571289, 'trudno powiedzieć\n15\n1,0%\n', 4, 0), (320.6199951171875, 129.30282592773438, 669.8431396484375, 139.05282592773438, 'odmowa odpowiedzi/ brak danych\n0\n0,0%\n', 5, 0), (79.12000274658203, 162.27854919433594, 95.387451171875, 172.02854919433594, 'q18\n', 6, 0), (423.3699951171875, 181.05282592773438, 672.2213745117188, 190.80282592773438, 'Wartość\nLiczebność\nProcent\n', 7, 0), (80.62000274658203, 196.80282592773438, 234.75926208496094, 206.55282592773438, 'Atrybuty standardowe\nPozycja\n', 8, 0), (200.6199951171875, 212.55282592773438, 235.30201721191406, 222.30282592773438, 'Etykieta\n', 9, 0), (200.6199951171875, 240.30282592773438, 216.8731689453125, 250.05282592773438, 'Typ\n', 10, 0), (200.6199951171875, 256.0528259277344, 231.4981689453125, 265.8028259277344, 'Format\n', 11, 0), (200.6199951171875, 271.8028259277344, 220.6722412109375, 281.5528259277344, 'Rola\n', 12, 0), (80.62000274658203, 287.5528259277344, 230.9649658203125, 297.3028259277344, 'N\nWażne\n', 13, 0), (200.6199951171875, 303.3028259277344, 256.9823913574219, 313.0528259277344, 'Braki danych\n', 14, 0), (80.62000274658203, 318.3028259277344, 176.55369567871094, 340.0528259277344, 'Tendencja centralna i \nrozproszenie\n', 15, 0), (200.6199951171875, 319.0528259277344, 234.22607421875, 328.8028259277344, 'Średnia\n', 16, 0), (200.6199951171875, 334.8028259277344, 307.9366455078125, 344.5528259277344, 'Odchylenie standardowe\n', 17, 0), (200.6199951171875, 360.3028259277344, 254.81634521484375, 370.0528259277344, 'Percentyl 25\n', 18, 0), (200.6199951171875, 376.0528259277344, 254.81634521484375, 385.8028259277344, 'Percentyl 50\n', 19, 0), (200.6199951171875, 391.8028259277344, 254.81634521484375, 401.5528259277344, 'Percentyl 75\n', 20, 0), (80.62000274658203, 407.5528259277344, 206.04100036621094, 417.3028259277344, 'Wartości z etykietami\n1\n', 21, 0), (200.6199951171875, 435.3028259277344, 206.04100036621094, 445.0528259277344, '2\n', 22, 0), (200.6199951171875, 451.0528259277344, 206.04100036621094, 460.8028259277344, '3\n', 23, 0), (200.6199951171875, 466.8028259277344, 206.04100036621094, 476.5528259277344, '4\n', 24, 0), (200.6199951171875, 494.5528259277344, 206.04100036621094, 504.3028259277344, '5\n', 25, 0), (200.6199951171875, 510.3028259277344, 206.04100036621094, 520.0528564453125, '6\n', 26, 0), (545.6199951171875, 196.80282592773438, 556.4649658203125, 206.55282592773438, '11\n', 27, 0), (320.6199951171875, 211.80282592773438, 535.2390747070312, 233.55282592773438, '3. Co, Pana(i) zdaniem, ludzi obecnie najbardziej \noburza i denerwuje? Odp2\n', 28, 0), (320.6199951171875, 240.30282592773438, 375.34466552734375, 250.05282592773438, 'Numeryczna\n', 29, 0), (320.6199951171875, 256.0528259277344, 331.9981689453125, 265.8028259277344, 'F2\n', 30, 0), (320.6199951171875, 271.8028259277344, 391.0694580078125, 281.5528259277344, 'Dane wejściowe\n', 31, 0), (540.3699951171875, 287.5528259277344, 556.637451171875, 297.3028259277344, '651\n', 32, 0), (540.3699951171875, 303.3028259277344, 556.637451171875, 313.0528259277344, '835\n', 33, 0), (532.1199951171875, 319.0528259277344, 556.518798828125, 328.8028259277344, '16,65\n', 34, 0), (526.8699951171875, 334.8028259277344, 556.69140625, 344.5528259277344, '14,701\n', 35, 0), (537.3699951171875, 360.3028259277344, 556.3463134765625, 370.0528259277344, '4,00\n', 36, 0), (532.1199951171875, 376.0528259277344, 556.518798828125, 385.8028259277344, '15,00\n', 37, 0), (532.1199951171875, 391.8028259277344, 556.518798828125, 401.5528259277344, '25,00\n', 38, 0), (320.6199951171875, 406.8028259277344, 528.1837158203125, 428.5528259277344, 'spadek poziomu życia, pogarszanie się sytuacji \nmaterialnej\n', 39, 0), (609.3699951171875, 407.5528259277344, 669.8431396484375, 417.3028259277344, '19\n1,3%\n', 40, 0), (320.6199951171875, 435.3028259277344, 669.8431396484375, 445.0528259277344, 'biedy, głodu, nędzy, braku pieniędzy na jedzenie\n13\n0,9%\n', 41, 0), (320.6199951171875, 451.0528259277344, 669.8431396484375, 460.8028259277344, 'drożyzna, galopada cen, podwyżki\n91\n6,1%\n', 42, 0), (320.6199951171875, 466.0528259277344, 535.7627563476562, 487.8028259277344, 'kłopoty rynkowe, brak towarów, złe zaopatrzenie, \nkolejki, puste półki\n', 43, 0), (604.1199951171875, 466.8028259277344, 669.8431396484375, 476.5528259277344, '102\n6,9%\n', 44, 0), (320.6199951171875, 494.5528259277344, 669.8431396484375, 504.3028259277344, 'niskie płace, zarobki, zamrożenie płac\n42\n2,8%\n', 45, 0), (320.6199951171875, 510.3028259277344, 669.8431396484375, 520.0528564453125, 'niskie renty, emerytury, niskie świadczenia społeczne\n7\n0,5%\n', 46, 0), (674.6199951171875, 529.9807739257812, 720.7990112304688, 540.4807739257812, 'Strona 17\n', 47, 0)]

In [490]:
results = np.array(results, dtype=str)
# Get 4th comlumn from results
for i in range(len(results)):
    results[i, 4] = results[i, 4].astype(str).strip()
    results[i, 4] = results[i, 4].replace('\n', ' ')
    
print(results)

[['79.12000274658203' '79.02854919433594' '95.387451171875'
  '88.77854919433594' 'q17' '0' '0']
 ['423.3699951171875' '97.8028335571289' '672.2213745117188'
  '107.5528335571289' 'Wartość Liczebność Procent' '1' '0']
 ['200.6199951171875' '113.5528335571289' '211.4649658203125'
  '123.3028335571289' '97' '2' '0']
 ['200.6199951171875' '129.30282592773438' '211.4649658203125'
  '139.05282592773438' '98' '3' '0']
 ['320.6199951171875' '113.5528335571289' '669.8431396484375'
  '123.3028335571289' 'trudno powiedzieć 15 1,0%' '4' '0']
 ['320.6199951171875' '129.30282592773438' '669.8431396484375'
  '139.05282592773438' 'odmowa odpowiedzi/ brak danych 0 0,0%' '5' '0']
 ['79.12000274658203' '162.27854919433594' '95.387451171875'
  '172.02854919433594' 'q18' '6' '0']
 ['423.3699951171875' '181.05282592773438' '672.2213745117188'
  '190.80282592773438' 'Wartość Liczebność Procent' '7' '0']
 ['80.62000274658203' '196.80282592773438' '234.75926208496094'
  '206.55282592773438' 'Atrybuty standardowe Pozycja' '8' '0']
 ['200.6199951171875' '212.55282592773438' '235.30201721191406'
  '222.30282592773438' 'Etykieta' '9' '0']
 ['200.6199951171875' '240.30282592773438' '216.8731689453125'
  '250.05282592773438' 'Typ' '10' '0']
 ['200.6199951171875' '256.0528259277344' '231.4981689453125'
  '265.8028259277344' 'Format' '11' '0']
 ['200.6199951171875' '271.8028259277344' '220.6722412109375'
  '281.5528259277344' 'Rola' '12' '0']
 ['80.62000274658203' '287.5528259277344' '230.9649658203125'
  '297.3028259277344' 'N Ważne' '13' '0']
 ['200.6199951171875' '303.3028259277344' '256.9823913574219'
  '313.0528259277344' 'Braki danych' '14' '0']
 ['80.62000274658203' '318.3028259277344' '176.55369567871094'
  '340.0528259277344' 'Tendencja centralna i  rozproszenie' '15' '0']
 ['200.6199951171875' '319.0528259277344' '234.22607421875'
  '328.8028259277344' 'Średnia' '16' '0']
 ['200.6199951171875' '334.8028259277344' '307.9366455078125'
  '344.5528259277344' 'Odchylenie standardowe' '17' '0']
 ['200.6199951171875' '360.3028259277344' '254.81634521484375'
  '370.0528259277344' 'Percentyl 25' '18' '0']
 ['200.6199951171875' '376.0528259277344' '254.81634521484375'
  '385.8028259277344' 'Percentyl 50' '19' '0']
 ['200.6199951171875' '391.8028259277344' '254.81634521484375'
  '401.5528259277344' 'Percentyl 75' '20' '0']
 ['80.62000274658203' '407.5528259277344' '206.04100036621094'
  '417.3028259277344' 'Wartości z etykietami 1' '21' '0']
 ['200.6199951171875' '435.3028259277344' '206.04100036621094'
  '445.0528259277344' '2' '22' '0']
 ['200.6199951171875' '451.0528259277344' '206.04100036621094'
  '460.8028259277344' '3' '23' '0']
 ['200.6199951171875' '466.8028259277344' '206.04100036621094'
  '476.5528259277344' '4' '24' '0']
 ['200.6199951171875' '494.5528259277344' '206.04100036621094'
  '504.3028259277344' '5' '25' '0']
 ['200.6199951171875' '510.3028259277344' '206.04100036621094'
  '520.0528564453125' '6' '26' '0']
 ['545.6199951171875' '196.80282592773438' '556.4649658203125'
  '206.55282592773438' '11' '27' '0']
 ['320.6199951171875' '211.80282592773438' '535.2390747070312'
  '233.55282592773438'
  '3. Co, Pana(i) zdaniem, ludzi obecnie najbardziej  oburza i denerwuje? Odp2'
  '28' '0']
 ['320.6199951171875' '240.30282592773438' '375.34466552734375'
  '250.05282592773438' 'Numeryczna' '29' '0']
 ['320.6199951171875' '256.0528259277344' '331.9981689453125'
  '265.8028259277344' 'F2' '30' '0']
 ['320.6199951171875' '271.8028259277344' '391.0694580078125'
  '281.5528259277344' 'Dane wejściowe' '31' '0']
 ['540.3699951171875' '287.5528259277344' '556.637451171875'
  '297.3028259277344' '651' '32' '0']
 ['540.3699951171875' '303.3028259277344' '556.637451171875'
  '313.0528259277344' '835' '33' '0']
 ['532.1199951171875' '319.0528259277344' '556.518798828125'
  '328.8028259277344' '16,65' '34' '0']
 ['526.8699951171875' '334.8028259277344' '556.69140625'
  '344.5528259277344' '14,701' '35' '0']
 ['537.3699951171875' '360.3028259277344' '556.3463134765625'
  '370.0528259277344' '4,00' '36' '0']
 ['532.1199951171875' '376.0528259277344' '556.518798828125'
  '385.8028259277344' '15,00' '37' '0']
 ['532.1199951171875' '391.8028259277344' '556.518798828125'
  '401.5528259277344' '25,00' '38' '0']
 ['320.6199951171875' '406.8028259277344' '528.1837158203125'
  '428.5528259277344'
  'spadek poziomu życia, pogarszanie się sytuacji  materialnej' '39' '0']
 ['609.3699951171875' '407.5528259277344' '669.8431396484375'
  '417.3028259277344' '19 1,3%' '40' '0']
 ['320.6199951171875' '435.3028259277344' '669.8431396484375'
  '445.0528259277344'
  'biedy, głodu, nędzy, braku pieniędzy na jedzenie 13 0,9%' '41' '0']
 ['320.6199951171875' '451.0528259277344' '669.8431396484375'
  '460.8028259277344' 'drożyzna, galopada cen, podwyżki 91 6,1%' '42' '0']
 ['320.6199951171875' '466.0528259277344' '535.7627563476562'
  '487.8028259277344'
  'kłopoty rynkowe, brak towarów, złe zaopatrzenie,  kolejki, puste półki'
  '43' '0']
 ['604.1199951171875' '466.8028259277344' '669.8431396484375'
  '476.5528259277344' '102 6,9%' '44' '0']
 ['320.6199951171875' '494.5528259277344' '669.8431396484375'
  '504.3028259277344' 'niskie płace, zarobki, zamrożenie płac 42 2,8%'
  '45' '0']
 ['320.6199951171875' '510.3028259277344' '669.8431396484375'
  '520.0528564453125'
  'niskie renty, emerytury, niskie świadczenia społeczne 7 0,5%' '46' '0']
 ['674.6199951171875' '529.9807739257812' '720.7990112304688'
  '540.4807739257812' 'Strona 17' '47' '0']]

In [491]:
vq = np.vectorize(lambda x,y = 'q': x.startswith(y) if isinstance(x, str) else x)
ve = np.vectorize(lambda x: x=='Etykieta')

In [492]:
qs = np.where(vq(results[:,4]))
questions = np.where(ve(results[:,4]))[0]
tables = np.where(vq(results[:,4], 'Wartości z etykietami'))[0]

# Which results[:,4] are integers 
ints = np.vectorize(lambda x: x.isdigit() if isinstance(x, str) else False)(results[:,4])

In [493]:
def find_closest_right_block(ref_idx: int, blocks: np.ndarray) -> int:
                ref_x1 = float(blocks[ref_idx, 2])
                ref_y0 = float(blocks[ref_idx, 1])
                ref_y1 = float(blocks[ref_idx, 3])
                candidates = []
                for i in range(len(blocks)):
                    if i == ref_idx:
                        continue
                    bx0 = float(blocks[i, 0])
                    by0 = float(blocks[i, 1])
                    by1 = float(blocks[i, 3])
                    # Check if block is to the right and vertically overlaps
                    if bx0 >= float(ref_x1 - 1) and (float(min(ref_y1, by1)) - float(max(ref_y0, by0) ) > 0):
                        candidates.append((i, bx0 - ref_x1))
                if not candidates:
                    return -1
                # Return index of the closest block
                candidates.sort(key=lambda x: x[1])
                return candidates[0][0]

In [494]:
def find_closest_right_block(ref_idx: int, blocks: np.ndarray) -> int:
    ref_x0 = float(blocks[ref_idx, 0])
    ref_x1 = float(blocks[ref_idx, 2])
    ref_y0 = float(blocks[ref_idx, 1])
    ref_y1 = float(blocks[ref_idx, 3])
    candidates = []
    for i in range(len(blocks)):
        if i == ref_idx:
            continue
        bx0 = float(blocks[i, 0])
        by0 = float(blocks[i, 1])
        by1 = float(blocks[i, 3])
        # Check if block is to the right and vertically overlaps
        if bx0 > ref_x0 and (float(min(ref_y1, by1)) - float(max(ref_y0, by0) ) > 0):
            candidates.append((i, bx0 - ref_x1))
    if not candidates:
        return -1
    # Return index of the closest block
    candidates.sort(key=lambda x: x[1])
    return candidates[0][0]

In [495]:
print(results[questions[0],1])
a = find_closest_right_block(questions[0], results)

212.55282592773438

In [496]:
results[a,4]

'3. Co, Pana(i) zdaniem, ludzi obecnie najbardziej  oburza i denerwuje? Odp2'

In [497]:
results[np.where(ints),:]

array([[['200.6199951171875', '113.5528335571289', '211.4649658203125',
         '123.3028335571289', '97', '2', '0'],
        ['200.6199951171875', '129.30282592773438', '211.4649658203125',
         '139.05282592773438', '98', '3', '0'],
        ['200.6199951171875', '435.3028259277344', '206.04100036621094',
         '445.0528259277344', '2', '22', '0'],
        ['200.6199951171875', '451.0528259277344', '206.04100036621094',
         '460.8028259277344', '3', '23', '0'],
        ['200.6199951171875', '466.8028259277344', '206.04100036621094',
         '476.5528259277344', '4', '24', '0'],
        ['200.6199951171875', '494.5528259277344', '206.04100036621094',
         '504.3028259277344', '5', '25', '0'],
        ['200.6199951171875', '510.3028259277344', '206.04100036621094',
         '520.0528564453125', '6', '26', '0'],
        ['545.6199951171875', '196.80282592773438', '556.4649658203125',
         '206.55282592773438', '11', '27', '0'],
        ['540.3699951171875', '287.5528259277344', '556.637451171875',
         '297.3028259277344', '651', '32', '0'],
        ['540.3699951171875', '303.3028259277344', '556.637451171875',
         '313.0528259277344', '835', '33', '0']]], dtype='<U76')

In [498]:
results[tables,4][0]

print(tables)
seq_of_rows = []
i=1
while ints[tables+i][0]:
    print(np.mean([float(results[tables+i,1]), float(results[tables+i,3])] ))
    seq_of_rows += [np.mean([float(results[tables+i,1]), float(results[tables+i,3])] )]
    i += 1
    
# Check if its strictly increasing and if not remove the last element until it is
while not all(x<y for x, y in zip(seq_of_rows, seq_of_rows[1:])):
    seq_of_rows = seq_of_rows[:-1]
print(seq_of_rows)

[21]
440.1778259277344
455.9278259277344
471.6778259277344
499.4278259277344
515.1778411865234
201.67782592773438
[440.1778259277344, 455.9278259277344, 471.6778259277344, 499.4278259277344, 515.1778411865234]

/var/folders/y8/4_9g68pj7k136q2yypgp5ysc0000gn/T/ipykernel_13394/3403120540.py:7: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  print(np.mean([float(results[tables+i,1]), float(results[tables+i,3])] ))
/var/folders/y8/4_9g68pj7k136q2yypgp5ysc0000gn/T/ipykernel_13394/3403120540.py:8: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  seq_of_rows += [np.mean([float(results[tables+i,1]), float(results[tables+i,3])] )]

In [499]:
results

array([['79.12000274658203', '79.02854919433594', '95.387451171875',
        '88.77854919433594', 'q17', '0', '0'],
       ['423.3699951171875', '97.8028335571289', '672.2213745117188',
        '107.5528335571289', 'Wartość Liczebność Procent', '1', '0'],
       ['200.6199951171875', '113.5528335571289', '211.4649658203125',
        '123.3028335571289', '97', '2', '0'],
       ['200.6199951171875', '129.30282592773438', '211.4649658203125',
        '139.05282592773438', '98', '3', '0'],
       ['320.6199951171875', '113.5528335571289', '669.8431396484375',
        '123.3028335571289', 'trudno powiedzieć 15 1,0%', '4', '0'],
       ['320.6199951171875', '129.30282592773438', '669.8431396484375',
        '139.05282592773438', 'odmowa odpowiedzi/ brak danych 0 0,0%',
        '5', '0'],
       ['79.12000274658203', '162.27854919433594', '95.387451171875',
        '172.02854919433594', 'q18', '6', '0'],
       ['423.3699951171875', '181.05282592773438', '672.2213745117188',
        '190.80282592773438', 'Wartość Liczebność Procent', '7', '0'],
       ['80.62000274658203', '196.80282592773438', '234.75926208496094',
        '206.55282592773438', 'Atrybuty standardowe Pozycja', '8', '0'],
       ['200.6199951171875', '212.55282592773438', '235.30201721191406',
        '222.30282592773438', 'Etykieta', '9', '0'],
       ['200.6199951171875', '240.30282592773438', '216.8731689453125',
        '250.05282592773438', 'Typ', '10', '0'],
       ['200.6199951171875', '256.0528259277344', '231.4981689453125',
        '265.8028259277344', 'Format', '11', '0'],
       ['200.6199951171875', '271.8028259277344', '220.6722412109375',
        '281.5528259277344', 'Rola', '12', '0'],
       ['80.62000274658203', '287.5528259277344', '230.9649658203125',
        '297.3028259277344', 'N Ważne', '13', '0'],
       ['200.6199951171875', '303.3028259277344', '256.9823913574219',
        '313.0528259277344', 'Braki danych', '14', '0'],
       ['80.62000274658203', '318.3028259277344', '176.55369567871094',
        '340.0528259277344', 'Tendencja centralna i  rozproszenie', '15',
        '0'],
       ['200.6199951171875', '319.0528259277344', '234.22607421875',
        '328.8028259277344', 'Średnia', '16', '0'],
       ['200.6199951171875', '334.8028259277344', '307.9366455078125',
        '344.5528259277344', 'Odchylenie standardowe', '17', '0'],
       ['200.6199951171875', '360.3028259277344', '254.81634521484375',
        '370.0528259277344', 'Percentyl 25', '18', '0'],
       ['200.6199951171875', '376.0528259277344', '254.81634521484375',
        '385.8028259277344', 'Percentyl 50', '19', '0'],
       ['200.6199951171875', '391.8028259277344', '254.81634521484375',
        '401.5528259277344', 'Percentyl 75', '20', '0'],
       ['80.62000274658203', '407.5528259277344', '206.04100036621094',
        '417.3028259277344', 'Wartości z etykietami 1', '21', '0'],
       ['200.6199951171875', '435.3028259277344', '206.04100036621094',
        '445.0528259277344', '2', '22', '0'],
       ['200.6199951171875', '451.0528259277344', '206.04100036621094',
        '460.8028259277344', '3', '23', '0'],
       ['200.6199951171875', '466.8028259277344', '206.04100036621094',
        '476.5528259277344', '4', '24', '0'],
       ['200.6199951171875', '494.5528259277344', '206.04100036621094',
        '504.3028259277344', '5', '25', '0'],
       ['200.6199951171875', '510.3028259277344', '206.04100036621094',
        '520.0528564453125', '6', '26', '0'],
       ['545.6199951171875', '196.80282592773438', '556.4649658203125',
        '206.55282592773438', '11', '27', '0'],
       ['320.6199951171875', '211.80282592773438', '535.2390747070312',
        '233.55282592773438',
        '3. Co, Pana(i) zdaniem, ludzi obecnie najbardziej  oburza i denerwuje? Odp2',
        '28', '0'],
       ['320.6199951171875', '240.30282592773438', '375.34466552734375',
        '250.05282592773438', 'Numeryczna', '29', '0'],
       ['320.6199951171875', '256.0528259277344', '331.9981689453125',
        '265.8028259277344', 'F2', '30', '0'],
       ['320.6199951171875', '271.8028259277344', '391.0694580078125',
        '281.5528259277344', 'Dane wejściowe', '31', '0'],
       ['540.3699951171875', '287.5528259277344', '556.637451171875',
        '297.3028259277344', '651', '32', '0'],
       ['540.3699951171875', '303.3028259277344', '556.637451171875',
        '313.0528259277344', '835', '33', '0'],
       ['532.1199951171875', '319.0528259277344', '556.518798828125',
        '328.8028259277344', '16,65', '34', '0'],
       ['526.8699951171875', '334.8028259277344', '556.69140625',
        '344.5528259277344', '14,701', '35', '0'],
       ['537.3699951171875', '360.3028259277344', '556.3463134765625',
        '370.0528259277344', '4,00', '36', '0'],
       ['532.1199951171875', '376.0528259277344', '556.518798828125',
        '385.8028259277344', '15,00', '37', '0'],
       ['532.1199951171875', '391.8028259277344', '556.518798828125',
        '401.5528259277344', '25,00', '38', '0'],
       ['320.6199951171875', '406.8028259277344', '528.1837158203125',
        '428.5528259277344',
        'spadek poziomu życia, pogarszanie się sytuacji  materialnej',
        '39', '0'],
       ['609.3699951171875', '407.5528259277344', '669.8431396484375',
        '417.3028259277344', '19 1,3%', '40', '0'],
       ['320.6199951171875', '435.3028259277344', '669.8431396484375',
        '445.0528259277344',
        'biedy, głodu, nędzy, braku pieniędzy na jedzenie 13 0,9%', '41',
        '0'],
       ['320.6199951171875', '451.0528259277344', '669.8431396484375',
        '460.8028259277344', 'drożyzna, galopada cen, podwyżki 91 6,1%',
        '42', '0'],
       ['320.6199951171875', '466.0528259277344', '535.7627563476562',
        '487.8028259277344',
        'kłopoty rynkowe, brak towarów, złe zaopatrzenie,  kolejki, puste półki',
        '43', '0'],
       ['604.1199951171875', '466.8028259277344', '669.8431396484375',
        '476.5528259277344', '102 6,9%', '44', '0'],
       ['320.6199951171875', '494.5528259277344', '669.8431396484375',
        '504.3028259277344',
        'niskie płace, zarobki, zamrożenie płac 42 2,8%', '45', '0'],
       ['320.6199951171875', '510.3028259277344', '669.8431396484375',
        '520.0528564453125',
        'niskie renty, emerytury, niskie świadczenia społeczne 7 0,5%',
        '46', '0'],
       ['674.6199951171875', '529.9807739257812', '720.7990112304688',
        '540.4807739257812', 'Strona 17', '47', '0']], dtype='<U76')

In [500]:
results[:,2].astype(float).max()

720.7990112304688

In [501]:
rect = [results[tables,2][0].astype(float)-5, results[tables,1][0].astype(float),results[:,2].astype(float).max(), max(seq_of_rows)+10]
print(rect)

[201.04100036621094, 407.5528259277344, 720.7990112304688, 525.1778411865234]

In [579]:
f = fitz.open(file)
f_page = f.load_page(page-1)




test = f_page.find_tables(clip = rect, strategy= 'text', snap_tolerance=6)

In [580]:
table_pd = test.tables[0].to_pandas()
display(table_pd)

  Percentyl 75                                              25,00 Col2  Col3
0            1     spadek poziomu życia, pogarszanie się sytuacji   19  1,3%
1                                                     materialnej
2
3            2   biedy, głodu, nędzy, braku pieniędzy na jedzenie   13  0,9%
4            3                   drożyzna, galopada cen, podwyżki   91  6,1%
5            4   kłopoty rynkowe, brak towarów, złe zaopatrzenie,  102  6,9%
6                                            kolejki, puste półki
7
8            5             niskie płace, zarobki, zamrożenie płac   42  2,8%
9            6  niskie renty, emerytury, niskie świadczenia sp...    7  0,5%

In [504]:
table_pd = test.tables[0].to_pandas()
# Extract the names of the columns and use them as the new first row
cols = table_pd.columns
table_pd.columns = range(table_pd.shape[1])
table_pd.loc[-1] = cols  # adding a row
table_pd.index = table_pd.index + 1  # shifting index
table_pd = table_pd.sort_index()

In [626]:
def extract_table(page: fitz.Page, ref_idx: int, blocks: np.ndarray) -> pd.DataFrame:
                if blocks[ref_idx+1,4] == "Wartość Liczebność Procent":
                    ref_idx += 1  # move to the next block
                    
                ints = np.vectorize(lambda x: x.isdigit() if isinstance(x, str) else False)(blocks[:,4])
                seq_of_rows = []
                
                i=1
                while ints[ref_idx+i]:
                    seq_of_rows += [np.mean([float(blocks[ref_idx+i,1]), float(blocks[ref_idx+i,3])] )]
                    i += 1
                
                # Check if its strictly increasing and if not remove the last element until it is
                while not all(x<y for x, y in zip(seq_of_rows, seq_of_rows[1:])):
                    seq_of_rows = seq_of_rows[:-1]
                
                if blocks[ref_idx,4] == "Wartość Liczebność Procent":
                    #new_q_idx = np.where(f_vstartswith(blocks[:,4], 'q'))[0][1]
                    rect = [blocks[ref_idx-1,2].astype(float), blocks[ref_idx-1,1].astype(float),
                            blocks[:,2].astype(float).max(), max(seq_of_rows)+10]
                    table = page.find_tables(clip = rect, strategy= 'text', min_words_vertical=1, snap_tolerance=6)
                else: 
                    rect = [blocks[ref_idx,2].astype(float)-5, blocks[ref_idx,1].astype(float),
                            blocks[:,2].astype(float).max(), max(seq_of_rows)+10]
                    table = page.find_tables(clip = rect, strategy= 'text', snap_tolerance=6)
                    
                if blocks[ref_idx,4] == "Wartość Liczebność Procent":
                    print(rect)
                if len(table.tables) == 0 :
                    return pd.DataFrame()
                table = table.tables[0].to_pandas()
                
                return table

In [625]:
#display(results)
extract_table(f_page, qs[0][0], results)

[95.387451171875, 79.02854919433594, 720.7990112304688, 144.17782592773438]

  Col0       Col1         Col2 Col3  Wa   rtość Liczebn ość Pr ocent
0   97  trudno po     wiedzieć                           15     1,0%
1   98     odmowa  odpowiedzi/   br  ak  danych           0     0,0%

In [632]:
a = "askdiononsdfina.pdf"
a[:-4]

'askdiononsdfina'

In [647]:
with open("pdf_codebook.json", "rb") as f:
    obj = pickle.load(f)

In [659]:
main = obj['CBOS_1_01_1990']

for df in main:
    display(df[4])

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                            3,00 Col2   Col3
0            1                      z nadzieją  276  18,6%
1            2       z nadzieją, ale i z obawą  736  49,5%
2            3                 czy też z obawą  457  30,8%
3            7               trudno powiedzieć    2   0,1%
4            8  odmowa odpowiedzi/ brak danych   15   1,0%

   Percentyl 75                                              17,00 Col2   Col3
0             1     spadek poziomu życia, pogarszanie się sytuacji  161  10,8%
1                                                materialnej ludzi
2             2  biedy, głodu, nędzy, braku pieniędzy na jedzenie,  226  15,2%
3                                               utrzymanie rodziny
4
5             3                   drożyzna, galopada cen, podwyżki  342  23,0%
6             4   kłopoty rynkowe, brak towarów, złe zaopatrzenie,   11   0,7%
7                                             kolejki, puste półki
8
9             5                      niskie płace, zamrożenie płac   15   1,0%
10            6  niskie renty, emerytury, niskie świadczenia sp...    6   0,4%
11            7       trudnej sytuacji mieszkaniowej, wysokich cen    7   0,5%
12                                                        mieszkań
13            8   wysokie opłaty czynszowe, za gaz, elektryczność,    4   0,3%
14                                                      ogrzewanie
15
16            9                      inne dotyczące warunków życia    5   0,3%

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

   Percentyl 75                                              21,00 Col2  Col3
0             1     spadek poziomu życia, pogarszanie się sytuacji   77  5,2%
1                                                materialnej ludzi
2             2  biedy, głodu, nędzy, braku pieniędzy na jedzenie,   55  3,7%
3                                               utrzymanie rodziny
4
5             3                   drożyzna, galopada cen, podwyżki  114  7,7%
6             4   kłopoty rynkowe, brak towarów, złe zaopatrzenie,   23  1,5%
7                                             kolejki, puste półki
8
9             5                      niskie płace, zamrożenie płac   28  1,9%
10            6  niskie renty, emerytury, niskie świadczenia sp...   13  0,9%
11            7       trudnej sytuacji mieszkaniowej, wysokich cen    8  0,5%
12                                                        mieszkań
13            8   wysokie opłaty czynszowe, za gaz, elektryczność,    8  0,5%
14                                                      ogrzewanie
15
16            9                      inne dotyczące warunków życia    4  0,3%

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

   Percentyl 75                                              25,00 Col2  Col3
0             1     spadek poziomu życia, pogarszanie się sytuacji   13  0,9%
1                                                materialnej ludzi
2             2  biedy, głodu, nędzy, braku pieniędzy na jedzenie,   12  0,8%
3                                               utrzymanie rodziny
4
5             3                   drożyzna, galopada cen, podwyżki   20  1,3%
6             4   kłopoty rynkowe, brak towarów, złe zaopatrzenie,    9  0,6%
7                                             kolejki, puste półki
8
9             5                      niskie płace, zamrożenie płac    4  0,3%
10            6  niskie renty, emerytury, niskie świadczenia sp...    1  0,1%
11            7       trudnej sytuacji mieszkaniowej, wysokich cen    3  0,2%
12                                                        mieszkań
13            8   wysokie opłaty czynszowe, za gaz, elektryczność,    6  0,4%
14                                                      ogrzewanie
15
16            9                      inne dotyczące warunków życia    1  0,1%

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

,Percentyl 75,Col1,Col2,"15,00",Col4,Col5
0,1,"spadek poziomu życia,",pogarszanie się syt,uacji,18,"1,2%"
1,,materialnej,,,,
2,,,,,,
3,2,"biedy, głodu, nędzy, br",aku pieniędzy na jed,zenie,8,"0,5%"
4,3,"drożyzna, galopada ce","n, podwyżki",,975,"65,6%"
5,4,"kłopoty rynkowe, brak t","owarów, złe zaopatr","zenie,",57,"3,8%"
6,,"kolejki, puste półki",,,,
7,,,,,,
8,5,"niskie płace, zarobki, z",amrożenie płac,,16,"1,1%"
9,6,"niskie renty, emerytury,",niskie świadczenia,społeczne,6,"0,4%"
10,7,"brak systemu pomocy,",nieskuteczna pomoc,socjalna,2,"0,1%"
11,8,problemy mieszkaniow,"e, brak mieszkań",,3,"0,2%"
12,9,zbyt wysokie opłaty za,"mieszkania, wysokie",czynsze,3,"0,2%"
13,10,źle funkcjonujące usług,i,,0,"0,0%"
14,11,źle funkcjonująca komu,nikacja,,1,"0,1%"

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                                              25,00 Col2  Col3
0            1     spadek poziomu życia, pogarszanie się sytuacji   19  1,3%
1                                                     materialnej
2
3            2   biedy, głodu, nędzy, braku pieniędzy na jedzenie   13  0,9%
4            3                   drożyzna, galopada cen, podwyżki   91  6,1%
5            4   kłopoty rynkowe, brak towarów, złe zaopatrzenie,  102  6,9%
6                                            kolejki, puste półki
7
8            5             niskie płace, zarobki, zamrożenie płac   42  2,8%
9            6  niskie renty, emerytury, niskie świadczenia sp...    7  0,5%

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

,Percentyl 75,Col1,"40,00",Col3,Col4
0,1,zadowolenie z,życia rodzinnego,55,"3,7%"
1,2,zadowolenie z,"życia osobistego, sukcesy w nauce,",15,"1,0%"
2,,pracy,,,
3,,,,,
4,3,dobre samopo,"czucie, zdrowie",16,"1,1%"
5,4,życie towarzy,"skie, rozrywka, odpoczynek, hobby",10,"0,7%"
6,5,"bogactwo, do",statnie życie,5,"0,3%"
7,6,podwyżki płac,", rent, emerytur",9,"0,6%"
8,7,praca za gran,"icą, przywiezienie gotówki zza granicy",4,"0,3%"
9,8,"tanie zakupy,",radość gdy uda się taniej kupić,24,"1,6%"
10,9,inne dotycząc,e życia osobistego i rodzinnego,14,"0,9%"
11,10,pokój na świe,"cie, brak zagrożenia wojną",4,"0,3%"
12,11,spokój w kraju,", spokojny przebieg przemian",31,"2,1%"

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

,Percentyl 75,Col1,"26,00",Col3,Col4
0,1,zadowolenie z,życia rodzinnego,6,"0,4%"
1,2,zadowolenie z,"życia osobistego, sukcesy w nauce,",3,"0,2%"
2,,pracy,,,
3,,,,,
4,3,dobre samopo,"czucie, zdrowie",11,"0,7%"
5,4,życie towarzy,"skie, rozrywka, odpoczynek, hobby",5,"0,3%"
6,5,"bogactwo, do",statnie życie,1,"0,1%"
7,6,podwyżki płac,", rent, emerytur",1,"0,1%"
8,7,praca za gran,"icą, przywiezienie gotówki zza granicy",2,"0,1%"
9,8,"tanie zakupy,",radość gdy uda się taniej kupić,1,"0,1%"
10,9,inne dotycząc,e życia osobistego i rodzinnego,3,"0,2%"
11,10,pokój na świe,"cie, brak zagrożenia wojną",0,"0,0%"
12,11,spokój w kraju,", spokojny przebieg przemian",8,"0,5%"

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

,Percentyl 75,Col1,"29,00",Col3,Col4
0,1,zadowolenie z,życia rodzinnego,3,"0,2%"
1,2,zadowolenie z,"życia osobistego, sukcesy w nauce,",1,"0,1%"
2,,pracy,,,
3,,,,,
4,3,dobre samopo,"czucie, zdrowie",0,"0,0%"
5,4,życie towarzy,"skie, rozrywka, odpoczynek, hobby",0,"0,0%"
6,5,"bogactwo, do",statnie życie,0,"0,0%"
7,6,podwyżki płac,", rent, emerytur",0,"0,0%"
8,7,praca za gran,"icą, przywiezienie gotówki zza granicy",1,"0,1%"
9,8,"tanie zakupy,",radość gdy uda się taniej kupić,0,"0,0%"
10,9,inne dotycząc,e życia osobistego i rodzinnego,0,"0,0%"
11,10,pokój na świe,"cie, brak zagrożenia wojną",0,"0,0%"
12,11,spokój w kraju,", spokojny przebieg przemian",0,"0,0%"

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                            4,00 Col2   Col3
0            1                    Bardzo dobra   49   3,3%
1            2                           Dobra  309  20,8%
2            3                    Raczej dobra  381  25,6%
3            4              Ani dobra, ani zła  414  27,9%
4            5                      Raczej zła   96   6,5%
5            6                             Zła   45   3,0%
6            7                      Bardzo zła   59   4,0%
7           97               Trudno powiedzieć  133   9,0%
8           98  Odmowa odpowiedzi/ brak danych    0   0,0%

  Percentyl 75                            7,00 Col2   Col3
0            1                    Bardzo dobra    0   0,0%
1            2                           Dobra    9   0,6%
2            3                    Raczej dobra   24   1,6%
3            4              Ani dobra, ani zła  146   9,8%
4            5                      Raczej zła  432  29,1%
5            6                             Zła  476  32,0%
6            7                      Bardzo zła  369  24,8%
7           97               Trudno powiedzieć   30   2,0%
8           98  Odmowa odpowiedzi/ brak danych    0   0,0%

  Percentyl 75                            6,00 Col2   Col3
0            1                    Bardzo dobra    0   0,0%
1            2                           Dobra    9   0,6%
2            3                    Raczej dobra   45   3,0%
3            4              Ani dobra, ani zła  236  15,9%
4            5                      Raczej zła  441  29,7%
5            6                             Zła  443  29,8%
6            7                      Bardzo zła  259  17,4%
7           97               Trudno powiedzieć   53   3,6%
8           98  Odmowa odpowiedzi/ brak danych    0   0,0%

  Percentyl 75                            3,00 Col2   Col3
0            1        Zdecydowanie się poprawi  146   9,8%
1            2              Raczej się poprawi  586  39,4%
2            3            Pozostanie bez zmian  318  21,4%
3            4             Raczej się pogorszy  114   7,7%
4            5       Zdecydowanie się pogorszy   11   0,7%
5            7               Trudno powiedzieć  311  20,9%
6            8  Odmowa odpowiedzi/ brak danych    0   0,0%

  Percentyl 75                            3,00 Col2   Col3
0            1        Zdecydowanie się poprawi  105   7,1%
1            2              Raczej się poprawi  671  45,2%
2            3            Pozostanie bez zmian  200  13,5%
3            4             Raczej się pogorszy  237  15,9%
4            5       Zdecydowanie się pogorszy   55   3,7%
5            7               Trudno powiedzieć  217  14,6%
6            8  Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                            4,00 Col2   Col3
0            1        Zdecydowanie się poprawi   65   4,4%
1            2              Raczej się poprawi  523  35,2%
2            3            Pozostanie bez zmian  192  12,9%
3            4             Raczej się pogorszy  327  22,0%
4            5       Zdecydowanie się pogorszy  191  12,9%
5            7               Trudno powiedzieć  187  12,6%
6            8  Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                             4,00 Col2   Col3
0            1    Całkowity spokój i odprężenie   10   0,7%
1            2       Raczej spokój i odprężenie   96   6,5%
2            3        Pewne napięcie i niepokój  879  59,2%
3            4  Bardzo duże napięcie i niepokój  362  24,4%
4            7                Trudno powiedzieć  133   9,0%
5            8   Odmowa odpowiedzi/ brak danych    6   0,4%

   Percentyl 75                                              30,00 Col2   Col3
0             1  wzrost cen, wzrost kosztów utrzymania, galopujące  330  22,2%
1                                                             ceny
2             2  galopująca inflacja, ucieczka od pieniądza, pa...   26   1,7%
3                                                            rynku
4             3     niskie płace, zarobki, renty, emerytury i inne   21   1,4%
5                                                      świadczenia
6
7             4    kłopoty z zaopatrzeniem, braki towarów, kolejki   29   2,0%
8             5        pauperyzacja społeczeństwa, pogarszanie się  168  11,3%
9                                                   warunków życia
10            6      wzrost różnic w poziomie życia społeczeństwa,    0   0,0%
11                                 podziały na biednych i bogatych
12            7      zaniedbanie, braki w zabezpieczeniu socjalnym    0   0,0%
13                                                   społeczeństwa

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

,Percentyl 75,Col1,Col2,"25,00",Col4,Col5
0,1,"wzrost cen, wzrost kosztów","utrzymania,",galopujące,96,"6,5%"
1,,ceny,,,,
2,2,"galopująca inflacja, ucieczka",od pieniąd,"za, panika na",15,"1,0%"
3,,rynku,,,,
4,3,"niskie płace, zarobki, renty,",emerytury i,inne,44,"3,0%"
5,,świadczenia,,,,
6,,,,,,
7,4,"kłopoty z zaopatrzeniem, br",aki towarów,", kolejki",35,"2,4%"
8,5,pauperyzacja społeczeństw,"a, pogarsza",nie się,85,"5,7%"
9,,warunków życia,,,,
10,6,wzrost różnic w poziomie ży,cia społecz,"eństwa,",2,"0,1%"
11,,podziały na biednych i bogat,ych,,,
12,7,"zaniedbanie, braki w zabezp",ieczeniu so,cjalnym,0,"0,0%"
13,,społeczeństwa,,,,
14,,,,,,
15,8,trudna sytuacja mieszkaniow,"a, brak mie",szkań,1,"0,1%"
16,9,brak szans życiowych przed,młodym po,koleniem,2,"0,1%"
17,10,"niewiara, że uczciwą pracą",można coś,"osiągnąć,",0,"0,0%"
18,,bogacą się spryciarze,,,,
19,,,,,,
20,11,"zły stan gospodarki, kryzys,",zadłużenie,,22,"1,5%"
21,12,"zastrzeżenia, obawy dotycz",ące polityki,gospodarczej,13,"0,9%"
22,,rządu,,,,
23,,,,,,
24,13,przerażenie ogromem zmian,w gospod,arce kraju,13,"0,9%"
25,14,program L. Balcerowicza - ra,dykalizm p,"rogramu,",4,"0,3%"
26,,społeczne skutki,,,,
27,,,,,,
28,15,trudności paliwowo-energety,"czne, brak",węgla,0,"0,0%"
29,16,"rolnictwo, złe zaopatrzenie w","si, kłopoty",związane z,11,"0,7%"
30,,rolnictwem,,,,

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

   Percentyl 75                                              30,00 Col2  Col3
0             1  wzrost cen, wzrost kosztów utrzymania, galopujące   14  0,9%
1                                                             ceny
2             2  galopująca inflacja, ucieczka od pieniądza, pa...    3  0,2%
3                                                            rynku
4             3     niskie płace, zarobki, renty, emerytury i inne   10  0,7%
5                                                      świadczenia
6
7             4    kłopoty z zaopatrzeniem, braki towarów, kolejki   13  0,9%
8             5        pauperyzacja społeczeństwa, pogarszanie się   23  1,5%
9                                                   warunków życia
10            6      wzrost różnic w poziomie życia społeczeństwa,    1  0,1%
11                                 podziały na biednych i bogatych
12            7      zaniedbanie, braki w zabezpieczeniu socjalnym    0  0,0%
13                                                   społeczeństwa

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak  362  24,4%
1            2                      Raczej tak  815  54,8%
2            3                      Raczej nic  107   7,2%
3            4                Zdecydowanie nie   25   1,7%
4            7               Trudno powiedzieć  175  11,8%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak  374  25,2%
1            2                      Raczej tak  754  50,7%
2            3                      Raczej nic  131   8,8%
3            4                Zdecydowanie nie   32   2,2%
4            7               Trudno powiedzieć  193  13,0%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak  345  23,2%
1            2                      Raczej tak  770  51,8%
2            3                      Raczej nic  147   9,9%
3            4                Zdecydowanie nie   29   2,0%
4            7               Trudno powiedzieć  193  13,0%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak  162  10,9%
1            2                      Raczej tak  661  44,5%
2            3                      Raczej nic  159  10,7%
3            4                Zdecydowanie nie   74   5,0%
4            7               Trudno powiedzieć  428  28,8%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            4,00 Col2   Col3
0            1                Zdecydowanie tak   18   1,2%
1            2                      Raczej tak  164  11,0%
2            3                      Raczej nic  361  24,3%
3            4                Zdecydowanie nie  525  35,3%
4            7               Trudno powiedzieć  415  27,9%
5            8  Odmowa odpowiedzi/ brak danych    3   0,2%

  Percentyl 75                            3,00 Col2   Col3
0            1                Zdecydowanie tak   52   3,5%
1            2                      Raczej tak  437  29,4%
2            3                      Raczej nic  194  13,1%
3            4                Zdecydowanie nie   84   5,7%
4            7               Trudno powiedzieć  715  48,1%
5            8  Odmowa odpowiedzi/ brak danych    4   0,3%

  Percentyl 75                            3,00 Col2   Col3
0            1                Zdecydowanie tak   47   3,2%
1            2                      Raczej tak  473  31,8%
2            3                      Raczej nic  156  10,5%
3            4                Zdecydowanie nie   76   5,1%
4            7               Trudno powiedzieć  732  49,3%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak  603  40,6%
1            2                      Raczej tak  653  43,9%
2            3                      Raczej nic   69   4,6%
3            4                Zdecydowanie nie   31   2,1%
4            7               Trudno powiedzieć  128   8,6%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            3,00 Col2   Col3
0            1                Zdecydowanie tak   79   5,3%
1            2                      Raczej tak  478  32,2%
2            3                      Raczej nic  303  20,4%
3            4                Zdecydowanie nie  163  11,0%
4            7               Trudno powiedzieć  461  31,0%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak  381  25,6%
1            2                      Raczej tak  725  48,8%
2            3                      Raczej nic  104   7,0%
3            4                Zdecydowanie nie   35   2,4%
4            7               Trudno powiedzieć  239  16,1%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            4,00 Col2   Col3
0            1                Zdecydowanie tak   54   3,6%
1            2                      Raczej tak  197  13,3%
2            3                      Raczej nic  214  14,4%
3            4                Zdecydowanie nie  219  14,7%
4            7               Trudno powiedzieć  798  53,7%
5            8  Odmowa odpowiedzi/ brak danych    4   0,3%

  Percentyl 75                            4,00 Col2   Col3
0            1                Zdecydowanie tak   32   2,2%
1            2                      Raczej tak  320  21,5%
2            3                      Raczej nic  309  20,8%
3            4                Zdecydowanie nie  233  15,7%
4            7               Trudno powiedzieć  589  39,6%
5            8  Odmowa odpowiedzi/ brak danych    3   0,2%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak  231  15,5%
1            2                      Raczej tak  628  42,3%
2            3                      Raczej nic   81   5,5%
3            4                Zdecydowanie nie   32   2,2%
4            7               Trudno powiedzieć  512  34,5%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak   72   4,8%
1            2                      Raczej tak  528  35,5%
2            3                      Raczej nic  120   8,1%
3            4                Zdecydowanie nie   39   2,6%
4            7               Trudno powiedzieć  726  48,9%
5            8  Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak   65   4,4%
1            2                      Raczej tak  506  34,1%
2            3                      Raczej nic  116   7,8%
3            4                Zdecydowanie nie   45   3,0%
4            7               Trudno powiedzieć  753  50,7%
5            8  Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak  214  14,4%
1            2                      Raczej tak  857  57,7%
2            3                      Raczej nic  145   9,8%
3            4                Zdecydowanie nie   52   3,5%
4            7               Trudno powiedzieć  217  14,6%
5            8  Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                            3,00 Col2   Col3
0            1                Zdecydowanie tak   48   3,2%
1            2                      Raczej tak  434  29,2%
2            3                      Raczej nic  321  21,6%
3            4                Zdecydowanie nie  244  16,4%
4            7               Trudno powiedzieć  437  29,4%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak  260  17,5%
1            2                      Raczej tak  714  48,0%
2            3                      Raczej nie  185  12,4%
3            4                Zdecydowanie nie   98   6,6%
4            7               Trudno powiedzieć  227  15,3%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak  765  51,5%
1            2                      Raczej tak  592  39,8%
2            3                      Raczej nie   42   2,8%
3            4                Zdecydowanie nie   14   0,9%
4            7               Trudno powiedzieć   72   4,8%
5            8  Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak  767  51,6%
1            2                      Raczej tak  562  37,8%
2            3                      Raczej nie   69   4,6%
3            4                Zdecydowanie nie   16   1,1%
4            7               Trudno powiedzieć   71   4,8%
5            8  Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak  718  48,3%
1            2                      Raczej tak  546  36,7%
2            3                      Raczej nie  100   6,7%
3            4                Zdecydowanie nie   32   2,2%
4            7               Trudno powiedzieć   89   6,0%
5            8  Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak  307  20,7%
1            2                      Raczej tak  592  39,8%
2            3                      Raczej nie  170  11,4%
3            4                Zdecydowanie nie   80   5,4%
4            7               Trudno powiedzieć  336  22,6%
5            8  Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak  377  25,4%
1            2                      Raczej tak  616  41,5%
2            3                      Raczej nie  192  12,9%
3            4                Zdecydowanie nie  100   6,7%
4            7               Trudno powiedzieć  200  13,5%
5            8  Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak  264  17,8%
1            2                      Raczej tak  583  39,2%
2            3                      Raczej nie  170  11,4%
3            4                Zdecydowanie nie   88   5,9%
4            7               Trudno powiedzieć  380  25,6%
5            8  Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak  331  22,3%
1            2                      Raczej tak  708  47,6%
2            3                      Raczej nie   51   3,4%
3            4                Zdecydowanie nie   13   0,9%
4            7               Trudno powiedzieć  381  25,6%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak  326  21,9%
1            2                      Raczej tak  660  44,4%
2            3                      Raczej nie   55   3,7%
3            4                Zdecydowanie nie   16   1,1%
4            7               Trudno powiedzieć  426  28,7%
5            8  Odmowa odpowiedzi/ brak danych    3   0,2%

  Percentyl 75                            4,00 Col2   Col3
0            1                Zdecydowanie tak   36   2,4%
1            2                      Raczej tak  218  14,7%
2            3                      Raczej nie  374  25,2%
3            4                Zdecydowanie nie  472  31,8%
4            7               Trudno powiedzieć  384  25,8%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            4,00 Col2   Col3
0            1                Zdecydowanie tak   55   3,7%
1            2                      Raczej tak  400  26,9%
2            3                      Raczej nie  315  21,2%
3            4                Zdecydowanie nie  301  20,3%
4            7               Trudno powiedzieć  413  27,8%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            3,00 Col2   Col3
0            1                Zdecydowanie tak   66   4,4%
1            2                      Raczej tak  439  29,5%
2            3                      Raczej nie  160  10,8%
3            4                Zdecydowanie nie   56   3,8%
4            7               Trudno powiedzieć  762  51,3%
5            8  Odmowa odpowiedzi/ brak danych    3   0,2%

  Percentyl 75                            3,00 Col2   Col3
0            1                Zdecydowanie tak   48   3,2%
1            2                      Raczej tak  414  27,9%
2            3                      Raczej nie  126   8,5%
3            4                Zdecydowanie nie   51   3,4%
4            7               Trudno powiedzieć  843  56,7%
5            8  Odmowa odpowiedzi/ brak danych    4   0,3%

   Percentyl 75                             18,00 Col2   Col3
0             1             Nikogo, nie ma takich  118   7,9%
1             2                           W. Baka    1   0,1%
2             3                    L. Balcerowicz   29   2,0%
3             4  J. Bohdanowicz (prezydent Łodzi)    0   0,0%
4             5                       I. Cywińska    1   0,1%
5             6                        B. Geremek   18   1,2%
6             7                          J. Glemp  135   9,1%
7             8                           A. Hall    0   0,0%
8             9                       G. Janowski    2   0,1%
9            10                     W. Jaruzelski  163  11,0%
10           11                        J. Jóźwiak    0   0,0%
11           12                       C. Kiszczak    1   0,1%

Empty DataFrame
Columns: []
Index: []

   Percentyl 75                             31,00 Col2  Col3
0             1             Nikogo, nie ma takich    0  0,0%
1             2                           W. Baka    1  0,1%
2             3                    L. Balcerowicz   45  3,0%
3             4  J. Bohdanowicz (prezydent Łodzi)    1  0,1%
4             5                       I. Cywińska    3  0,2%
5             6                        B. Geremek   20  1,3%
6             7                          J. Glemp   75  5,0%
7             8                           A. Hall    0  0,0%
8             9                       G. Janowski    0  0,0%
9            10                     W. Jaruzelski   37  2,5%
10           11                        J. Jóźwiak    0  0,0%
11           12                       C. Kiszczak    3  0,2%

Empty DataFrame
Columns: []
Index: []

   Percentyl 75                             30,00 Col2  Col3
0             1             Nikogo, nie ma takich    0  0,0%
1             2                           W. Baka    0  0,0%
2             3                    L. Balcerowicz   25  1,7%
3             4  J. Bohdanowicz (prezydent Łodzi)    0  0,0%
4             5                       I. Cywińska    2  0,1%
5             6                        B. Geremek    8  0,5%
6             7                          J. Glemp   35  2,4%
7             8                           A. Hall    0  0,0%
8             9                       G. Janowski    3  0,2%
9            10                     W. Jaruzelski   22  1,5%
10           11                        J. Jóźwiak    1  0,1%
11           12                       C. Kiszczak    1  0,1%

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                            1,00  Col2   Col3
0            1                             Tak  1185  79,7%
1            2                             Nie   102   6,9%
2            3  W ogóle mnie to nie interesuje   197  13,3%
3            7               Trudno powiedzieć     2   0,1%
4            8  Odmowa odpowiedzi/ brak danych     0   0,0%
5            9                     Nie dotyczy     0   0,0%

  Percentyl 75                            2,00 Col2   Col3
0            1                             Tak  906  61,0%
1            2                             Nie  383  25,8%
2            3  W ogóle mnie to nie interesuje  197  13,3%
3            7               Trudno powiedzieć    0   0,0%
4            8  Odmowa odpowiedzi/ brak danych    0   0,0%
5            9                     Nie dotyczy    0   0,0%

  Percentyl 75                            2,00 Col2   Col3
0            1                             Tak  802  54,0%
1            2                             Nie  489  32,9%
2            3  W ogóle mnie to nie interesuje  194  13,1%
3            7               Trudno powiedzieć    0   0,0%
4            8  Odmowa odpowiedzi/ brak danych    1   0,1%
5            9                     Nie dotyczy    0   0,0%

  Percentyl 75                            2,00 Col2   Col3
0            1                             Tak  579  39,0%
1            2                             Nie  707  47,6%
2            3  W ogóle mnie to nie interesuje  199  13,4%
3            7               Trudno powiedzieć    0   0,0%
4            8  Odmowa odpowiedzi/ brak danych    1   0,1%
5            9                     Nie dotyczy    0   0,0%

  Percentyl 75                            2,00  Col2   Col3
0            1                             Tak   125   8,4%
1            2                             Nie  1151  77,5%
2            3  W ogóle mnie to nie interesuje   199  13,4%
3            7               Trudno powiedzieć     0   0,0%
4            8  Odmowa odpowiedzi/ brak danych    11   0,7%
5            9                     Nie dotyczy     0   0,0%

  Percentyl 75                            2,00  Col2   Col3
0            1                             Tak    50   3,4%
1            2                             Nie  1225  82,4%
2            3  W ogóle mnie to nie interesuje   199  13,4%
3            7               Trudno powiedzieć     0   0,0%
4            8  Odmowa odpowiedzi/ brak danych    12   0,8%
5            9                     Nie dotyczy     0   0,0%

  Percentyl 75                            2,00 Col2   Col3
0            1                             Tak  532  35,8%
1            2                             Nie  739  49,7%
2            3  W ogóle mnie to nie interesuje  197  13,3%
3            7               Trudno powiedzieć    1   0,1%
4            8  Odmowa odpowiedzi/ brak danych   10   0,7%
5            9                     Nie dotyczy    7   0,5%

  Percentyl 75                            2,00 Col2   Col3
0            1                             Tak  680  45,8%
1            2                             Nie  598  40,2%
2            3  W ogóle mnie to nie interesuje  197  13,3%
3            7               Trudno powiedzieć    1   0,1%
4            8  Odmowa odpowiedzi/ brak danych   10   0,7%
5            9                     Nie dotyczy    0   0,0%

  Percentyl 75                            2,00 Col2   Col3
0            1                             Tak  473  31,8%
1            2                             Nie  807  54,3%
2            3  W ogóle mnie to nie interesuje  197  13,3%
3            7               Trudno powiedzieć    0   0,0%
4            8  Odmowa odpowiedzi/ brak danych    8   0,5%
5            9                     Nie dotyczy    1   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                             Tak  486  32,7%
1            2                             Nie  789  53,1%
2            3  W ogóle mnie to nie interesuje  198  13,3%
3            7               Trudno powiedzieć    1   0,1%
4            8  Odmowa odpowiedzi/ brak danych   11   0,7%
5            9                     Nie dotyczy    1   0,1%

,Percentyl 75,Col1,Col2,"3,00",Col4,Col5
0,1,Z telewizji,,,695,"46,8%"
1,2,Z radia,,,175,"11,8%"
2,3,"Z gazet, prasy",,,236,"15,9%"
3,4,Z konferencji rzeczn,ika rzą,du,86,"5,8%"
4,5,Z polskojęzycznych,zacho,dnich radiostacji,24,"1,6%"
5,6,Z radia zagraniczne,go,,7,"0,5%"
6,7,Od kolegów (koleża,nek) z,zakładu pracy,15,"1,0%"
7,8,"Od rodziny, znajomy",ch,,23,"1,5%"
8,9,"Z tego, co mówią lu",dzie w,"kolejkach, na ulicy",24,"1,6%"
9,10,"Z rozmów z ludźmi,",którzy,znają się na tym,80,"5,4%"
10,97,Trudno powiedzieć,,,23,"1,5%"
11,98,Odmowa odpowiedz,i/ brak,danych,98,"6,6%"

   Percentyl 75                                           4,00 Col2   Col3
0             1                            Stłumienie inflacji  600  40,4%
1             2       Wprowadzenie gospodarki kapitalistycznej  157  10,6%
2             3    Dostosowanie się do wymogów banków i rządów  113   7,6%
3                                                   zachodnich
4
5             4   Ograniczenie ilości pieniędzy wśród ludności  239  16,1%
6             5  Poprawa dyscypliny pracy poprzez wprowadzenie   40   2,7%
7                                                   bezrobocia
8
9             6   Jak najszybsze urynkowienie całej gospodarki  290  19,5%
10            7                              Trudno powiedzieć   44   3,0%
11            8                 Odmowa odpowiedzi/ brak danych    3   0,2%

   Percentyl 75                                           5,00 Col2   Col3
0             1                            Stłumienie inflacji  802  54,0%
1             2       Wprowadzenie gospodarki kapitalistycznej   77   5,2%
2             3    Dostosowanie się do wymogów banków i rządów   40   2,7%
3                                                   zachodnich
4
5             4   Ograniczenie ilości pieniędzy wśród ludności   61   4,1%
6             5  Poprawa dyscypliny pracy poprzez wprowadzenie  103   6,9%
7                                                   bezrobocia
8
9             6   Jak najszybsze urynkowienie całej gospodarki  342  23,0%
10            7                              Trudno powiedzieć   54   3,6%
11            8                 Odmowa odpowiedzi/ brak danych    7   0,5%

  Percentyl 75                            2,00 Col2   Col3
0            1                Zdecydowanie tak  189  12,7%
1            2                      Raczej tak  698  47,0%
2            3                      Raczej nie  128   8,6%
3            4                Zdecydowanie nie   32   2,2%
4            7               Trudno powiedzieć  435  29,3%
5            8  Odmowa odpowiedzi/ brak danych    4   0,3%

  Percentyl 75                Col1              2,00 Col3   Col4
0            1   W pełni go Pan(i)           popiera  616  41,5%
1            2   W ogóle nie popie      ra go Pan(i)  126   8,5%
2            3  Nic nie wie Pan(i)   o tym programie  141   9,5%
3            7    Trudno powiedzie                 ć  597  40,2%
4            8      Odmowa odpowie  dzi/ brak danych    6   0,4%

  Percentyl 75                                               2,00 Col2   Col3
0            1                  Za jego jak najszybszą realizacją  512  34,5%
1            2  Na jego realizację, ale bardziej rozłożone w c...  493  33,2%
2            3           Za skierowaniem do ponownego opracowania  197  13,3%
3            4      Za odrzuceniem i opracowaniem konkurencyjnego  131   8,8%
4                                                        programu
5
6            7                                  Trudno powiedzieć  139   9,4%
7            8                     Odmowa odpowiedzi/ brak danych   14   0,9%

,Percentyl 75,Col1,"42,00",Col3,Col4
0,1,"rolnictwa, gospodarki",żywnościowej,68,"4,6%"
1,2,rolnictwa z wyraźnym,"domaganiem się preferencji,",28,"1,9%"
2,,"dotacji, ulg itp.",,,
3,,,,,
4,3,budownictwa mieszka,niowego,10,"0,7%"
5,4,ochrony środowiska n,aturalnego,2,"0,1%"
6,5,sfery budżetowej,,2,"0,1%"
7,6,"ludzi, społeczeństwa",ogólnie bez wyszczególnienia,34,"2,3%"
8,,konkretnych grup,,,
9,,,,,
10,7,ludzi starszych,,13,"0,9%"
11,8,emerytów i rencistów,,28,"1,9%"
12,9,"rodzin wielodzietnych,",samotnych matek,6,"0,4%"
13,10,ludzi upośledzonych,,0,"0,0%"
14,11,"ludzi młodych, startują",cych w życie,12,"0,8%"

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

,Percentyl 75,Col1,"25,00",Col3,Col4
0,1,"rolnictwa, gospodarki",żywnościowej,6,"0,4%"
1,2,rolnictwa z wyraźnym,"domaganiem się preferencji,",7,"0,5%"
2,,"dotacji, ulg itp.",,,
3,,,,,
4,3,budownictwa mieszka,niowego,7,"0,5%"
5,4,ochrony środowiska n,aturalnego,0,"0,0%"
6,5,sfery budżetowej,,1,"0,1%"
7,6,"ludzi, społeczeństwa",ogólnie bez wyszczególnienia,1,"0,1%"
8,,konkretnych grup,,,
9,,,,,
10,7,ludzi starszych,,1,"0,1%"
11,8,emerytów i rencistów,,8,"0,5%"
12,9,"rodzin wielodzietnych,",samotnych matek,5,"0,3%"
13,10,ludzi upośledzonych,,1,"0,1%"
14,11,"ludzi młodych, startują",cych w życie,7,"0,5%"

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

,Percentyl 75,Col1,"30,00",Col3,Col4
0,1,"rolnictwa, gospodarki",żywnościowej,0,"0,0%"
1,2,rolnictwa z wyraźnym,"domaganiem się preferencji,",0,"0,0%"
2,,"dotacji, ulg itp.",,,
3,,,,,
4,3,budownictwa mieszka,niowego,1,"0,1%"
5,4,ochrony środowiska n,aturalnego,0,"0,0%"
6,5,sfery budżetowej,,0,"0,0%"
7,6,"ludzi, społeczeństwa",ogólnie bez wyszczególnienia,0,"0,0%"
8,,konkretnych grup,,,
9,,,,,
10,7,ludzi starszych,,1,"0,1%"
11,8,emerytów i rencistów,,0,"0,0%"
12,9,"rodzin wielodzietnych,",samotnych matek,0,"0,0%"
13,10,ludzi upośledzonych,,0,"0,0%"
14,11,"ludzi młodych, startują",cych w życie,0,"0,0%"

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

   Percentyl 75                                               5,00 Col2   Col3
0             1  Zdecydowanie najlepszy w tej chwili sposób pop...  200  13,5%
1                                                       gospodarki
2
3             2                   Jeden z wielu możliwych sposobów  302  20,3%
4             3                          Jeden z gorszych sposobów   70   4,7%
5             4  Jedyny program, który może zadowolić tych, którzy  239  16,1%
6                  nam pożyczyli i mogą jeszcze pożyczyć pieniądze
7
8             5                           Jedyne, co nam pozostało  281  18,9%
9             7                                  Trudno powiedzieć  391  26,3%
10            8                     odmowa odpowiedzi/ brak danych    3   0,2%

  Percentyl 75                                             2,00 Col2   Col3
0            1  Obawa i lęk przed tym, co przyniesie przyszłość  736  49,5%
1            2     Czy też nadzieja i wiara w lepszą przyszłość  662  44,5%
2            7                                Trudno powiedzieć   80   5,4%
3            8                   Odmowa odpowiedzi/ brak danych    8   0,5%

  Percentyl 75                                               2,00 Col2   Col3
0            1     Ufność, bo opracowali go ludzie godni zaufania  957  64,4%
1            2  Czy też nieufność, bo powiela stare wzory i błędy  361  24,3%
2            7                                  Trudno powiedzieć  149  10,0%
3            8                     Odmowa odpowiedzi/ brak danych   19   1,3%

  Percentyl 75                            1,00 Col2   Col3
0            1                      korzystnie  803  54,0%
1            2                   niekorzystnie   76   5,1%
2            3           nie będą miały wpływu   90   6,1%
3            7     nie wiem, trudno powiedzieć  515  34,7%
4            8  odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            1,00 Col2   Col3
0            1                      korzystnie  897  60,4%
1            2                   niekorzystnie  127   8,5%
2            3           nie będą miały wpływu  129   8,7%
3            7     nie wiem, trudno powiedzieć  331  22,3%
4            8  odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            1,00 Col2   Col3
0            1                      korzystnie  801  53,9%
1            2                   niekorzystnie  230  15,5%
2            3           nie będą miały wpływu   29   2,0%
3            7     nie wiem, trudno powiedzieć  423  28,5%
4            8  odmowa odpowiedzi/ brak danych    3   0,2%

  Percentyl 75                            2,00 Col2   Col3
0            1                      korzystnie  491  33,0%
1            2                   niekorzystnie  490  33,0%
2            3           nie będą miały wpływu   47   3,2%
3            7     nie wiem, trudno powiedzieć  456  30,7%
4            8  odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                      korzystnie  612  41,2%
1            2                   niekorzystnie  349  23,5%
2            3           nie będą miały wpływu   50   3,4%
3            7     nie wiem, trudno powiedzieć  472  31,8%
4            8  odmowa odpowiedzi/ brak danych    3   0,2%

  Percentyl 75                            2,00 Col2   Col3
0            1                      korzystnie  688  46,3%
1            2                   niekorzystnie  383  25,8%
2            3           nie będą miały wpływu   71   4,8%
3            7     nie wiem, trudno powiedzieć  342  23,0%
4            8  odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            1,00 Col2   Col3
0            1                      korzystnie  922  62,0%
1            2                   niekorzystnie  104   7,0%
2            3           nie będą miały wpływu   32   2,2%
3            7     nie wiem, trudno powiedzieć  426  28,7%
4            8  odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                      korzystnie  586  39,4%
1            2                   niekorzystnie  489  32,9%
2            3           nie będą miały wpływu   25   1,7%
3            7     nie wiem, trudno powiedzieć  384  25,8%
4            8  odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            1,00  Col2   Col3
0            1                      korzystnie  1125  75,7%
1            2                   niekorzystnie    56   3,8%
2            3           nie będą miały wpływu    51   3,4%
3            7     nie wiem, trudno powiedzieć   252  17,0%
4            8  odmowa odpowiedzi/ brak danych     2   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                      korzystnie  570  38,4%
1            2                   niekorzystnie  596  40,1%
2            3           nie będą miały wpływu   22   1,5%
3            7     nie wiem, trudno powiedzieć  294  19,8%
4            8  odmowa odpowiedzi/ brak danych    4   0,3%

  Percentyl 75                            2,00 Col2   Col3
0            1                      korzystnie  629  42,3%
1            2                   niekorzystnie  451  30,3%
2            3           nie będą miały wpływu   42   2,8%
3            7     nie wiem, trudno powiedzieć  362  24,4%
4            8  odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                      korzystnie  652  43,9%
1            2                   niekorzystnie  321  21,6%
2            3           nie będą miały wpływu   76   5,1%
3            7     nie wiem, trudno powiedzieć  435  29,3%
4            8  odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            1,00 Col2   Col3
0            1                      korzystnie  599  40,3%
1            2                   niekorzystnie  135   9,1%
2            3           nie będą miały wpływu   44   3,0%
3            7     nie wiem, trudno powiedzieć  706  47,5%
4            8  odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            3,00 Col2   Col3
0            1                      korzystnie  342  23,0%
1            2                   niekorzystnie  144   9,7%
2            3           nie będą miały wpływu  641  43,1%
3            7     nie wiem, trudno powiedzieć  357  24,0%
4            8  odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            3,00 Col2   Col3
0            1                      korzystnie  816  54,9%
1            2                   niekorzystnie   93   6,3%
2            3           nie będą miały wpływu  384  25,8%
3            7     nie wiem, trudno powiedzieć  191  12,9%
4            8  odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            3,00 Col2   Col3
0            1                      korzystnie  203  13,7%
1            2                   niekorzystnie  270  18,2%
2            3           nie będą miały wpływu  610  41,0%
3            7     nie wiem, trudno powiedzieć  399  26,9%
4            8  odmowa odpowiedzi/ brak danych    4   0,3%

  Percentyl 75                            3,00 Col2   Col3
0            1                      korzystnie   92   6,2%
1            2                   niekorzystnie  450  30,3%
2            3           nie będą miały wpływu  601  40,4%
3            7     nie wiem, trudno powiedzieć  340  22,9%
4            8  odmowa odpowiedzi/ brak danych    3   0,2%

  Percentyl 75                            3,00 Col2   Col3
0            1                      korzystnie  102   6,9%
1            2                   niekorzystnie  744  50,1%
2            3           nie będą miały wpływu  337  22,7%
3            7     nie wiem, trudno powiedzieć  298  20,1%
4            8  odmowa odpowiedzi/ brak danych    5   0,3%

  Percentyl 75                            3,00 Col2   Col3
0            1                      korzystnie  305  20,5%
1            2                   niekorzystnie  394  26,5%
2            3           nie będą miały wpływu  459  30,9%
3            7     nie wiem, trudno powiedzieć  326  21,9%
4            8  odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            3,00 Col2   Col3
0            1                      korzystnie  311  20,9%
1            2                   niekorzystnie  139   9,4%
2            3           nie będą miały wpływu  593  39,9%
3            7     nie wiem, trudno powiedzieć  441  29,7%
4            8  odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            3,00 Col2   Col3
0            1                      korzystnie  100   6,7%
1            2                   niekorzystnie  682  45,9%
2            3           nie będą miały wpływu  448  30,1%
3            7     nie wiem, trudno powiedzieć  254  17,1%
4            8  odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            3,00 Col2   Col3
0            1                      korzystnie  500  33,6%
1            2                   niekorzystnie   60   4,0%
2            3           nie będą miały wpływu  643  43,3%
3            7     nie wiem, trudno powiedzieć  279  18,8%
4            8  odmowa odpowiedzi/ brak danych    4   0,3%

  Percentyl 75                            2,00  Col2   Col3
0            1                      korzystnie    41   2,8%
1            2                   niekorzystnie  1212  81,6%
2            3           nie będą miały wpływu   110   7,4%
3            7     nie wiem, trudno powiedzieć   121   8,1%
4            8  odmowa odpowiedzi/ brak danych     2   0,1%

  Percentyl 75                            3,00 Col2   Col3
0            1                      korzystnie  141   9,5%
1            2                   niekorzystnie  540  36,3%
2            3           nie będą miały wpływu  463  31,2%
3            7     nie wiem, trudno powiedzieć  337  22,7%
4            8  odmowa odpowiedzi/ brak danych    5   0,3%

  Percentyl 75                            3,00 Col2   Col3
0            1                      korzystnie  425  28,6%
1            2                   niekorzystnie  164  11,0%
2            3           nie będą miały wpływu  491  33,0%
3            7     nie wiem, trudno powiedzieć  402  27,1%
4            8  odmowa odpowiedzi/ brak danych    4   0,3%

  Percentyl 75                            3,00 Col2   Col3
0            1                      korzystnie  106   7,1%
1            2                   niekorzystnie  156  10,5%
2            3           nie będą miały wpływu  586  39,4%
3            7     nie wiem, trudno powiedzieć  635  42,7%
4            8  odmowa odpowiedzi/ brak danych    3   0,2%

  Percentyl 75                                       3,00 Col2   Col3
0            1                         Szybko poprawi się   64   4,3%
1            2  Poprawi się, ale dopiero po pewnym czasie  841  56,6%
2            3                        Niewiele się zmieni  229  15,4%
3            4                Czy też raczej się pogorszy  105   7,1%
4            7                          Trudno powiedzieć  245  16,5%
5            8             Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                                       3,00 Col2   Col3
0            1                         Szybko poprawi się  157  10,6%
1            2  Poprawi się, ale dopiero po pewnym czasie  475  32,0%
2            3                        Niewiele się zmieni  393  26,4%
3            4                Czy też raczej się pogorszy  123   8,3%
4            7                          Trudno powiedzieć  336  22,6%
5            8             Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                                       4,00 Col2   Col3
0            1                         Szybko poprawi się   51   3,4%
1            2  Poprawi się, ale dopiero po pewnym czasie  564  38,0%
2            3                        Niewiele się zmieni  223  15,0%
3            4                Czy też raczej się pogorszy  405  27,3%
4            7                          Trudno powiedzieć  242  16,3%
5            8             Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                                       3,00 Col2   Col3
0            1                         Szybko poprawi się  152  10,2%
1            2  Poprawi się, ale dopiero po pewnym czasie  794  53,4%
2            3                        Niewiele się zmieni  219  14,7%
3            4                Czy też raczej się pogorszy  154  10,4%
4            7                          Trudno powiedzieć  165  11,1%
5            8             Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                                       3,00 Col2   Col3
0            1                         Szybko poprawi się  143   9,6%
1            2  Poprawi się, ale dopiero po pewnym czasie  805  54,2%
2            3                        Niewiele się zmieni  233  15,7%
3            4                Czy też raczej się pogorszy  119   8,0%
4            7                          Trudno powiedzieć  185  12,4%
5            8             Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                                       3,00 Col2   Col3
0            1                         Szybko poprawi się  294  19,8%
1            2  Poprawi się, ale dopiero po pewnym czasie  628  42,3%
2            3                        Niewiele się zmieni  283  19,0%
3            4                Czy też raczej się pogorszy   65   4,4%
4            7                          Trudno powiedzieć  214  14,4%
5            8             Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                                       3,00 Col2   Col3
0            1                         Szybko poprawi się  216  14,5%
1            2  Poprawi się, ale dopiero po pewnym czasie  649  43,7%
2            3                        Niewiele się zmieni  277  18,6%
3            4                Czy też raczej się pogorszy   33   2,2%
4            7                          Trudno powiedzieć  310  20,9%
5            8             Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                                       3,00 Col2   Col3
0            1                         Szybko poprawi się   95   6,4%
1            2  Poprawi się, ale dopiero po pewnym czasie  660  44,4%
2            3                        Niewiele się zmieni  271  18,2%
3            4                Czy też raczej się pogorszy   92   6,2%
4            7                          Trudno powiedzieć  367  24,7%
5            8             Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                                       3,00 Col2   Col3
0            1                         Szybko poprawi się   78   5,2%
1            2  Poprawi się, ale dopiero po pewnym czasie  666  44,8%
2            3                        Niewiele się zmieni  281  18,9%
3            4                Czy też raczej się pogorszy  204  13,7%
4            7                          Trudno powiedzieć  255  17,2%
5            8             Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                                       3,00 Col2   Col3
0            1                         Szybko poprawi się  140   9,4%
1            2  Poprawi się, ale dopiero po pewnym czasie  624  42,0%
2            3                        Niewiele się zmieni  406  27,3%
3            4                Czy też raczej się pogorszy   81   5,5%
4            7                          Trudno powiedzieć  233  15,7%
5            8             Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                                       4,00 Col2   Col3
0            1                         Szybko poprawi się   20   1,3%
1            2  Poprawi się, ale dopiero po pewnym czasie  250  16,8%
2            3                        Niewiele się zmieni  427  28,7%
3            4                Czy też raczej się pogorszy  484  32,6%
4            7                          Trudno powiedzieć  303  20,4%
5            8             Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                                       4,00 Col2   Col3
0            1                         Szybko poprawi się   29   2,0%
1            2  Poprawi się, ale dopiero po pewnym czasie  166  11,2%
2            3                        Niewiele się zmieni  163  11,0%
3            4                Czy też raczej się pogorszy  823  55,4%
4            7                          Trudno powiedzieć  304  20,5%
5            8             Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                                       4,00 Col2   Col3
0            1                         Szybko poprawi się   18   1,2%
1            2  Poprawi się, ale dopiero po pewnym czasie  373  25,1%
2            3                        Niewiele się zmieni  180  12,1%
3            4                Czy też raczej się pogorszy  677  45,6%
4            7                          Trudno powiedzieć  235  15,8%
5            8             Odmowa odpowiedzi/ brak danych    3   0,2%

  Percentyl 75                                       3,00 Col2   Col3
0            1                         Szybko poprawi się   73   4,9%
1            2  Poprawi się, ale dopiero po pewnym czasie  554  37,3%
2            3                        Niewiele się zmieni  170  11,4%
3            4                Czy też raczej się pogorszy  262  17,6%
4            7                          Trudno powiedzieć  425  28,6%
5            8             Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                                       2,00 Col2   Col3
0            1                         Szybko poprawi się  191  12,9%
1            2  Poprawi się, ale dopiero po pewnym czasie  524  35,3%
2            3                        Niewiele się zmieni  162  10,9%
3            4                Czy też raczej się pogorszy   49   3,3%
4            7                          Trudno powiedzieć  558  37,6%
5            8             Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            3,00 Col2   Col3
0            1                     przeceniane  228  15,3%
1            2                    niedoceniane  556  37,4%
2            3     czy też oceniane prawidłowo  534  35,9%
3            7               trudno powiedzieć  152  10,2%
4            8  odmowa odpowiedzi/ brak danych   16   1,1%

  Percentyl 75                            3,00 Col2   Col3
0            1                     przeceniane  331  22,3%
1            2                    niedoceniane  446  30,0%
2            3     czy też oceniane prawidłowo  534  35,9%
3            7               trudno powiedzieć  158  10,6%
4            8  odmowa odpowiedzi/ brak danych   17   1,1%

  Percentyl 75                            3,00 Col2   Col3
0            1                     przeceniane  284  19,1%
1            2                    niedoceniane  476  32,0%
2            3     czy też oceniane prawidłowo  551  37,1%
3            7               trudno powiedzieć  159  10,7%
4            8  odmowa odpowiedzi/ brak danych   16   1,1%

  Percentyl 75                            1,00  Col2   Col3
0            1         Poziom życia obniży się  1290  86,8%
1            2            Pozostanie bez zmian    96   6,5%
2            3                        Wzrośnie    46   3,1%
3            7               Trudno powiedzieć    52   3,5%
4            8  Odmowa odpowiedzi/ brak danych     2   0,1%

  Percentyl 75                                            2,00  Col2   Col3
0            1                                     ND: q136<>1   196  13,2%
1               Tylko przejściowo, potrwa to najwyżej pół roku   230  15,5%
2            2                 Czy też będzie to trwało dłużej  1038  69,9%
3            7                               Trudno powiedzieć    17   1,1%
4            8                  Odmowa odpowiedzi/ brak danych     5   0,3%

  Percentyl 75                            1,00  Col2   Col3
0            1                     ND: q136<>1   196  13,2%
1                                      Znaczne  1107  74,5%
2            2        Czy też tylko niewielkie   165  11,1%
3            7               Trudno powiedzieć    12   0,8%
4            8  Odmowa odpowiedzi/ brak danych     6   0,4%

  Percentyl 75                            4,00 Col2   Col3
0            1   Tak, poważnie się z tym liczę  158  10,6%
1            2                      Raczej tak  179  12,0%
2            3                      Raczej nie  317  21,3%
3            4      Nie, to mało prawdopodobne  190  12,8%
4            5     Staram się o tym nie myśleć  119   8,0%
5            7               Trudno powiedzieć    7   0,5%
6            8  Odmowa odpowiedzi/ brak danych   14   0,9%
7            9                     Nie dotyczy  502  33,8%

  Percentyl 75                            4,00 Col2   Col3
0            1   Tak, poważnie się z tym liczę   79   5,3%
1            2                      Raczej tak  160  10,8%
2            3                      Raczej nie  389  26,2%
3            4      Nie, to mało prawdopodobne  264  17,8%
4            5     Staram się o tym nie myśleć   63   4,2%
5            7               Trudno powiedzieć    6   0,4%
6            8  Odmowa odpowiedzi/ brak danych   15   1,0%
7            9                     Nie dotyczy  510  34,3%

  Percentyl 75                            3,00 Col2   Col3
0            1   Tak, poważnie się z tym liczę  116   7,8%
1            2                      Raczej tak  336  22,6%
2            3                      Raczej nie  353  23,8%
3            4      Nie, to mało prawdopodobne  126   8,5%
4            5     Staram się o tym nie myśleć   46   3,1%
5            7               Trudno powiedzieć   14   0,9%
6            8  Odmowa odpowiedzi/ brak danych   13   0,9%
7            9                     Nie dotyczy  482  32,4%

  Percentyl 75                            2,00 Col2   Col3
0            1   Tak, poważnie się z tym liczę  495  33,3%
1            2                      Raczej tak  679  45,7%
2            3                      Raczej nie  144   9,7%
3            4      Nie, to mało prawdopodobne   36   2,4%
4            5     Staram się o tym nie myśleć   86   5,8%
5            7               Trudno powiedzieć    4   0,3%
6            8  Odmowa odpowiedzi/ brak danych   10   0,7%
7            9                     Nie dotyczy   32   2,2%

  Percentyl 75                            4,00 Col2   Col3
0            1   Tak, poważnie się z tym liczę  112   7,5%
1            2                      Raczej tak  141   9,5%
2            3                      Raczej nie  586  39,4%
3            4      Nie, to mało prawdopodobne  401  27,0%
4            5     Staram się o tym nie myśleć  192  12,9%
5            7               Trudno powiedzieć    6   0,4%
6            8  Odmowa odpowiedzi/ brak danych   12   0,8%
7            9                     Nie dotyczy   36   2,4%

  Percentyl 75                            4,00 Col2   Col3
0            1   Tak, poważnie się z tym liczę   43   2,9%
1            2                      Raczej tak   58   3,9%
2            3                      Raczej nie  452  30,4%
3            4      Nie, to mało prawdopodobne  677  45,6%
4            5     Staram się o tym nie myśleć  179  12,0%
5            7               Trudno powiedzieć    7   0,5%
6            8  Odmowa odpowiedzi/ brak danych   17   1,1%
7            9                     Nie dotyczy   53   3,6%

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                                               2,00 Col2   Col3
0            1                 Jest to całkowicie zgodne z prawdą  931  62,7%
1            2                         Jest w tym trochę przesady  410  27,6%
2            3     Jest w tym dużo przesady – poprzednio sytuacja  117   7,9%
3               gospodarcza nie była tak zła obecny rząd nie może

  Percentyl 75                            2,00 Col2   Col3
0            1                             Tak  677  45,6%
1            2                             Nie  767  51,6%
2            7               Trudno powiedzieć   26   1,7%
3            8  Odmowa odpowiedzi/ brak danych   16   1,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                             Tak  858  57,7%
1            2                             Nie  570  38,4%
2            7               Trudno powiedzieć   23   1,5%
3            8  Odmowa odpowiedzi/ brak danych   35   2,4%

  Percentyl 75                            2,00 Col2   Col3
0            1                             Tak  801  53,9%
1            2                             Nie  625  42,1%
2            7               Trudno powiedzieć   25   1,7%
3            8  Odmowa odpowiedzi/ brak danych   35   2,4%

  Percentyl 75                            2,00 Col2   Col3
0            1                             Tak  539  36,3%
1            2                             Nie  867  58,3%
2            7               Trudno powiedzieć   42   2,8%
3            8  Odmowa odpowiedzi/ brak danych   38   2,6%

  Percentyl 75                            2,00 Col2   Col3
0            1                             Tak  440  29,6%
1            2                             Nie  962  64,7%
2            7               Trudno powiedzieć   39   2,6%
3            8  Odmowa odpowiedzi/ brak danych   45   3,0%

  Percentyl 75                            2,00 Col2   Col3
0            1                             Tak  443  29,8%
1            2                             Nie  971  65,3%
2            7               Trudno powiedzieć   53   3,6%
3            8  Odmowa odpowiedzi/ brak danych   19   1,3%

,Percentyl 75,Col1,"3,00",Col3,Col4
0,1,"zmiana nazwy państwa, no",wa nazwa,516,"34,7%"
1,2,"zmiana godła państwa, now","e godło, orzeł w koronie",299,"20,1%"
2,3,skreślenie zapisu o przewo,dniej roli PZPR,240,"16,2%"
3,4,skreślenie zapisu o sojuszu,z ZSRR,8,"0,5%"
4,5,"odzyskanie niepodległości,",suwerenność i,2,"0,1%"
5,,niezależność Polski,,,
6,6,wykreślenie słowa socjalizm,", kraj bez socjalizmu,",7,"0,5%"
7,,zmiana ustroju,,,
8,,,,,
9,7,"pluralizm polityczny, swobo",dy i wolności obywatelskie,13,"0,9%"
10,8,likwidacja socjalistycznego,"systemu gospodarczego,",10,"0,7%"
11,,gospodarka rynkowa,,,
12,9,"wprowadzenie bezrobocia,",likwidacja zapisu o prawie,8,"0,5%"
13,,do pracy,,,

Empty DataFrame
Columns: []
Index: []

,Percentyl 75,Col1,"2,00",Col3,Col4
0,1,"zmiana nazwy państwa, no",wa nazwa,187,"12,6%"
1,2,"zmiana godła państwa, now","e godło, orzeł w koronie",470,"31,6%"
2,3,skreślenie zapisu o przewo,dniej roli PZPR,88,"5,9%"
3,4,skreślenie zapisu o sojuszu,z ZSRR,25,"1,7%"
4,5,"odzyskanie niepodległości,",suwerenność i,0,"0,0%"
5,,niezależność Polski,,,
6,6,wykreślenie słowa socjalizm,", kraj bez socjalizmu,",2,"0,1%"
7,,zmiana ustroju,,,
8,,,,,
9,7,"pluralizm polityczny, swobo",dy i wolności obywatelskie,6,"0,4%"
10,8,likwidacja socjalistycznego,"systemu gospodarczego,",20,"1,3%"
11,,gospodarka rynkowa,,,
12,9,"wprowadzenie bezrobocia,",likwidacja zapisu o prawie,5,"0,3%"
13,,do pracy,,,

Empty DataFrame
Columns: []
Index: []

,Percentyl 75,Col1,"3,00",Col3,Col4
0,1,"zmiana nazwy państwa, no",wa nazwa,45,"3,0%"
1,2,"zmiana godła państwa, now","e godło, orzeł w koronie",59,"4,0%"
2,3,skreślenie zapisu o przewo,dniej roli PZPR,164,"11,0%"
3,4,skreślenie zapisu o sojuszu,z ZSRR,14,"0,9%"
4,5,"odzyskanie niepodległości,",suwerenność i,0,"0,0%"
5,,niezależność Polski,,,
6,6,wykreślenie słowa socjalizm,", kraj bez socjalizmu,",5,"0,3%"
7,,zmiana ustroju,,,
8,,,,,
9,7,"pluralizm polityczny, swobo",dy i wolności obywatelskie,3,"0,2%"
10,8,likwidacja socjalistycznego,"systemu gospodarczego,",23,"1,5%"
11,,gospodarka rynkowa,,,
12,9,"wprowadzenie bezrobocia,",likwidacja zapisu o prawie,9,"0,6%"
13,,do pracy,,,

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                            2,00 Col2   Col3
0            1                  Z zadowoleniem  733  49,3%
1            2                       Obojętnie  644  43,3%
2            3                      Niechętnie   45   3,0%
3            7               Trudno powiedzieć   32   2,2%
4            8  Odmowa odpowiedzi/ brak danych   32   2,2%

  Percentyl 75                                      2,00 Col2   Col3
0            1               Konieczna(e) i potrzebna(e)  570  38,4%
1            2  Potrzebna(e), aczkolwiek niekonieczna(e)  585  39,4%
2            3                      W zasadzie zbędna(e)  300  20,2%
3            7                         Trudno powiedzieć   25   1,7%
4            8            Odmowa odpowiedzi/ brak danych    6   0,4%

  Percentyl 75                                      2,00 Col2   Col3
0            1               Konieczna(e) i potrzebna(e)  632  42,5%
1            2  Potrzebna(e), aczkolwiek niekonieczna(e)  546  36,7%
2            3                      W zasadzie zbędna(e)  283  19,0%
3            7                         Trudno powiedzieć   20   1,3%
4            8            Odmowa odpowiedzi/ brak danych    5   0,3%

  Percentyl 75                                      1,00  Col2   Col3
0            1               Konieczna(e) i potrzebna(e)  1214  81,7%
1            2  Potrzebna(e), aczkolwiek niekonieczna(e)   186  12,5%
2            3                      W zasadzie zbędna(e)    51   3,4%
3            7                         Trudno powiedzieć    29   2,0%
4            8            Odmowa odpowiedzi/ brak danych     6   0,4%

  Percentyl 75                                      2,00 Col2   Col3
0            1               Konieczna(e) i potrzebna(e)  885  59,6%
1            2  Potrzebna(e), aczkolwiek niekonieczna(e)  386  26,0%
2            3                      W zasadzie zbędna(e)  167  11,2%
3            7                         Trudno powiedzieć   41   2,8%
4            8            Odmowa odpowiedzi/ brak danych    7   0,5%

  Percentyl 75                                      3,00 Col2   Col3
0            1               Konieczna(e) i potrzebna(e)  365  24,6%
1            2  Potrzebna(e), aczkolwiek niekonieczna(e)  459  30,9%
2            3                      W zasadzie zbędna(e)  564  38,0%
3            7                         Trudno powiedzieć   85   5,7%
4            8            Odmowa odpowiedzi/ brak danych   13   0,9%

  Percentyl 75                                      2,00 Col2   Col3
0            1               Konieczna(e) i potrzebna(e)  852  57,3%
1            2  Potrzebna(e), aczkolwiek niekonieczna(e)  377  25,4%
2            3                      W zasadzie zbędna(e)  173  11,6%
3            7                         Trudno powiedzieć   76   5,1%
4            8            Odmowa odpowiedzi/ brak danych    8   0,5%

  Percentyl 75                                      2,00 Col2   Col3
0            1               Konieczna(e) i potrzebna(e)  856  57,6%
1            2  Potrzebna(e), aczkolwiek niekonieczna(e)  343  23,1%
2            3                      W zasadzie zbędna(e)  140   9,4%
3            7                         Trudno powiedzieć  139   9,4%
4            8            Odmowa odpowiedzi/ brak danych    8   0,5%

  Percentyl 75                                      2,00 Col2   Col3
0            1               Konieczna(e) i potrzebna(e)  755  50,8%
1            2  Potrzebna(e), aczkolwiek niekonieczna(e)  356  24,0%
2            3                      W zasadzie zbędna(e)  176  11,8%
3            7                         Trudno powiedzieć  193  13,0%
4            8            Odmowa odpowiedzi/ brak danych    6   0,4%

  Percentyl 75                                      2,00  Col2   Col3
0            1               Konieczna(e) i potrzebna(e)  1018  68,5%
1            2  Potrzebna(e), aczkolwiek niekonieczna(e)   296  19,9%
2            3                      W zasadzie zbędna(e)    64   4,3%
3            7                         Trudno powiedzieć   100   6,7%
4            8            Odmowa odpowiedzi/ brak danych     8   0,5%

  Percentyl 75                                      2,00 Col2   Col3
0            1               Konieczna(e) i potrzebna(e)  915  61,6%
1            2  Potrzebna(e), aczkolwiek niekonieczna(e)  334  22,5%
2            3                      W zasadzie zbędna(e)   98   6,6%
3            7                         Trudno powiedzieć  131   8,8%
4            8            Odmowa odpowiedzi/ brak danych    8   0,5%

  Percentyl 75                                      1,00  Col2   Col3
0            1               Konieczna(e) i potrzebna(e)  1181  79,5%
1            2  Potrzebna(e), aczkolwiek niekonieczna(e)   194  13,1%
2            3                      W zasadzie zbędna(e)    49   3,3%
3            7                         Trudno powiedzieć    56   3,8%
4            8            Odmowa odpowiedzi/ brak danych     6   0,4%

  Percentyl 75                                               2,00 Col2   Col3
0            1                              Odrzucenie socjalizmu  601  40,4%
1            2                     Tylko częściową zmianę ustroju  578  38,9%
2            3  W zasadzie nie zmieniają podstaw ustrojowych P...  232  15,6%
3            7                                  Trudno powiedzieć   66   4,4%
4            8                     Odmowa odpowiedzi/ brak danych    9   0,6%

  Percentyl 75                                        1,00  Col2   Col3
0            1  Odpowiedź poprawna - Rzeczpospolita Polska  1119  75,3%
1            2                       Odpowiedź niepoprawna   231  15,5%
2            7              Nie wiem, trudno mi powiedzieć   102   6,9%
3            8              Odmowa odpowiedzi/ brak danych    34   2,3%

   Percentyl 75                                   1,00  Col2   Col3
0             1                  Rzeczpospolita Polska  1107  74,5%
1             2                  Polska Rzeczpospolita   102   6,9%
2             3  Tak jak przed wojną bez podania nazwy     4   0,3%
3             4                         Rzeczpospolita    69   4,6%
4             5                                 Polska    24   1,6%
5             6                          Polska Ludowa     9   0,6%
6             7                  Rzeczpospolita Ludowa     8   0,5%
7             8           Polska Rzeczpospolita Ludowa     9   0,6%
8            94                                   Inne    17   1,1%
9            97            Nie wiem, trudno powiedzieć    99   6,7%
10           98         Odmowa odpowiedzi/ brak danych    38   2,6%

  Percentyl 75                                               2,00 Col2   Col3
0            1                                       Z oburzeniem  706  47,5%
1            2          Z rezygnacją, ludzie są pogodzeni z losem  488  32,8%
2            3                                          Obojętnie   23   1,5%
3            4  Ze zrozumieniem – uznano je za konieczne w obe...  220  14,8%
4                                                        sytuacji
5
6            5                        Określił (a) bym to inaczej   44   3,0%
7            7                                  Trudno powiedzieć    3   0,2%
8            8                     Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                                               4,00 Col2   Col3
0            1                                       Z oburzeniem  562  37,8%
1            2    Z rezygnacją, jest Pan(i) pogodzony (a) z losem  415  27,9%
2            3                                          Obojętnie   77   5,2%
3            4  Ze zrozumieniem – uznaje je Pan(i) za konieczne w  382  25,7%
4                                                obecnej sytuacji
5
6            5                         Określił(a) bym to inaczej   46   3,1%
7            7                                  Trudno powiedzieć    2   0,1%
8            8                     Odmowa odpowiedzi/ brak danych    2   0,1%

   Percentyl 75                                              11,00 Col2   Col3
0             1   obniżenie stopy życiowej, ubożenie społeczeństwa  434  29,2%
1             2        brak pieniędzy na podstawowe zakupy, na nic  100   6,7%
2                                        człowieka nie będzie stać
3             3   wzrost cen, szalejące ceny, bardzo wysokie ceny,   67   4,5%
4                                                         drożyzna
5
6             4                        nędza, ubóstwo, bieda, głód  233  15,7%
7             5  rozwarstwienie społeczeństwa, podział na biedn...   12   0,8%
8                                                         bogatych
9
10            6    brak towarów, żywności, kłopoty z zaopatrzeniem    7   0,5%
11            7           upadek rzemiosła, usług, małych zakładów    0   0,0%
12                                                      prywatnych
13
14            8               spadek produkcji, regres gospodarczy   15   1,0%
15            9    spadek produkcji rolnej, załamanie w rolnictwie    4   0,3%

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

     1    obniżenie stopy ży   ciowej, ubożeni      e społeczeństwa  30  2,0%
0    2     brak pieniędzy na    podstawowe zak          upy, na nic  28  1,9%
1         człowieka nie będz           ie stać
2    3   wzrost cen, szaleją   ce ceny, bardzo        wysokie ceny,  24  1,6%
3                   drożyzna
4
5    4    nędza, ubóstwo, bi         eda, głód                       33  2,2%
6    5    rozwarstwienie spo    łeczeństwa, po  dział na biednych i  10  0,7%
7                   bogatych
8
9    6     brak towarów, żyw  ności, kłopoty z        zaopatrzeniem   4  0,3%
10   7     upadek rzemiosła,   usług, małych z              akładów   0  0,0%
11                prywatnych
12
13   8   spadek produkcji, r    egres gospodar                  czy   5  0,3%
14   9    spadek produkcji r  olnej, załamanie         w rolnictwie  10  0,7%
15  10   konflikt miasto-wie                 ś                        0  0,0%
16  11  strajki, niepokoje s  połeczne, rozruc         hy, protesty  64  4,3%
17  12     wzrost krytycyzmu    wobec rządu, s     padek zaufania i   3  0,2%
18        poparcia dla rządu
19
20  13      większa inflacja                                          1  0,1%
21  14    spadek płacy realn   ej, wysokie cen      y, małe zarobki  12  0,8%
22  15   spadek jakości i wy   dajności pracy,          zahamowanie   5  0,3%
23        przedsiębiorczości
24
25  16    bezrobocie, bankru   ctwo przedsiębi                orstw   5  0,3%
26  17      dużo sposobności   do nadużyć, spe      kulacji, wzrost  22  1,5%
27            przestępczości
28
29  18     pogorszenie stanu   zdrowia społecz               eństwa  14  0,9%
30  19    ogólnikowo: chaos,   bałagan, nikt n   ie będzie mógł nad   8  0,5%
31             tym zapanować

Empty DataFrame
Columns: []
Index: []

   Percentyl 75                                              24,00 Col2  Col3
0             1   obniżenie stopy życiowej, ubożenie społeczeństwa    0  0,0%
1             2        brak pieniędzy na podstawowe zakupy, na nic    4  0,3%
2                                        człowieka nie będzie stać
3             3   wzrost cen, szalejące ceny, bardzo wysokie ceny,    1  0,1%
4                                                         drożyzna
5
6             4                        nędza, ubóstwo, bieda, głód    5  0,3%
7             5  rozwarstwienie społeczeństwa, podział na biedn...    1  0,1%
8                                                         bogatych
9
10            6    brak towarów, żywności, kłopoty z zaopatrzeniem    1  0,1%
11            7           upadek rzemiosła, usług, małych zakładów    1  0,1%
12                                                      prywatnych
13
14            8               spadek produkcji, regres gospodarczy    3  0,2%
15            9    spadek produkcji rolnej, załamanie w rolnictwie    2  0,1%

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                            1,00 Col2   Col3
0            1                       Wybrał(a)  744  50,1%
1            2                   Nie wybrał(a)  125   8,4%
2            7               Trudno powiedzieć    4   0,3%
3            8  Odmowa odpowiedzi/ brak danych    6   0,4%
4            9                     Nie dotyczy  607  40,8%

  Percentyl 75                            2,00 Col2   Col3
0            1                       Wybrał(a)  489  32,9%
1            2                   Nie wybrał(a)  372  25,0%
2            7               Trudno powiedzieć    5   0,3%
3            8  Odmowa odpowiedzi/ brak danych    5   0,3%
4            9                     Nie dotyczy  615  41,4%

  Percentyl 75                            2,00 Col2   Col3
0            1                       Wybrał(a)  611  41,1%
1            2                   Nie wybrał(a)  253  17,0%
2            7               Trudno powiedzieć    4   0,3%
3            8  Odmowa odpowiedzi/ brak danych    6   0,4%
4            9                     Nie dotyczy  612  41,2%

  Percentyl 75                            2,00 Col2   Col3
0            1                       Wybrał(a)  564  38,0%
1            2                   Nie wybrał(a)  291  19,6%
2            7               Trudno powiedzieć    5   0,3%
3            8  Odmowa odpowiedzi/ brak danych    5   0,3%
4            9                     Nie dotyczy  621  41,8%

  Percentyl 75                            2,00 Col2   Col3
0            1                       Wybrał(a)  319  21,5%
1            2                   Nie wybrał(a)  525  35,3%
2            7               Trudno powiedzieć   14   0,9%
3            8  Odmowa odpowiedzi/ brak danych    6   0,4%
4            9                     Nie dotyczy  622  41,9%

  Percentyl 75                            2,00 Col2   Col3
0            1                       Wybrał(a)  211  14,2%
1            2                   Nie wybrał(a)  630  42,4%
2            7               Trudno powiedzieć   16   1,1%
3            8  Odmowa odpowiedzi/ brak danych    7   0,5%
4            9                     Nie dotyczy  622  41,9%

  Percentyl 75                            2,00 Col2   Col3
0            1                       Wybrał(a)  252  17,0%
1            2                   Nie wybrał(a)  610  41,0%
2            7               Trudno powiedzieć    7   0,5%
3            8  Odmowa odpowiedzi/ brak danych    6   0,4%
4            9                     Nie dotyczy  611  41,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                       Wybrał(a)  535  36,0%
1            2                   Nie wybrał(a)  319  21,5%
2            7               Trudno powiedzieć   15   1,0%
3            8  Odmowa odpowiedzi/ brak danych    5   0,3%
4            9                     Nie dotyczy  612  41,2%

  Percentyl 75                            1,00 Col2   Col3
0            1                       Wybrał(a)  718  48,3%
1            2                   Nie wybrał(a)  150  10,1%
2            7               Trudno powiedzieć    5   0,3%
3            8  Odmowa odpowiedzi/ brak danych    5   0,3%
4            9                     Nie dotyczy  608  40,9%

  Percentyl 75                            2,00 Col2   Col3
0            1                       Wybrał(a)  250  16,8%
1            2                   Nie wybrał(a)  587  39,5%
2            7               Trudno powiedzieć   27   1,8%
3            8  Odmowa odpowiedzi/ brak danych    7   0,5%
4            9                     Nie dotyczy  615  41,4%

  Percentyl 75                            2,00 Col2   Col3
0            1                       Wybrał(a)  395  26,6%
1            2                   Nie wybrał(a)  441  29,7%
2            7               Trudno powiedzieć   24   1,6%
3            8  Odmowa odpowiedzi/ brak danych    8   0,5%
4            9                     Nie dotyczy  618  41,6%

  Percentyl 75                            2,00 Col2   Col3
0            1                    Na pewno tak  763  51,3%
1            2                      Raczej tak  403  27,1%
2            3                      Raczej nie  225  15,1%
3            4                    Na pewno nie   52   3,5%
4            7               Trudno powiedzieć   35   2,4%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%
6            9                     Nie dotyczy    6   0,4%

  Percentyl 75                            2,00 Col2   Col3
0            1                    Na pewno tak  857  57,7%
1            2                      Raczej tak  471  31,7%
2            3                      Raczej nie  105   7,1%
3            4                    Na pewno nie   28   1,9%
4            7               Trudno powiedzieć   17   1,1%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%
6            9                     Nie dotyczy    6   0,4%

  Percentyl 75                            4,00 Col2   Col3
0            1                    Na pewno tak   61   4,1%
1            2                      Raczej tak   89   6,0%
2            3                      Raczej nie  672  45,2%
3            4                    Na pewno nie  519  34,9%
4            7               Trudno powiedzieć  124   8,3%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%
6            9                     Nie dotyczy   19   1,3%

  Percentyl 75                            3,00 Col2   Col3
0            1                    Na pewno tak  270  18,2%
1            2                      Raczej tak  400  26,9%
2            3                      Raczej nie  415  27,9%
3            4                    Na pewno nie  252  17,0%
4            7               Trudno powiedzieć  104   7,0%
5            8  Odmowa odpowiedzi/ brak danych    4   0,3%
6            9                     Nie dotyczy   41   2,8%

  Percentyl 75                            4,00 Col2   Col3
0            1                    Na pewno tak   67   4,5%
1            2                      Raczej tak  172  11,6%
2            3                      Raczej nie  680  45,8%
3            4                    Na pewno nie  419  28,2%
4            7               Trudno powiedzieć  137   9,2%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%
6            9                     Nie dotyczy    9   0,6%

  Percentyl 75                            3,00 Col2   Col3
0            1                    Na pewno tak  285  19,2%
1            2                      Raczej tak  581  39,1%
2            3                      Raczej nie  291  19,6%
3            4                    Na pewno nie  181  12,2%
4            7               Trudno powiedzieć  109   7,3%
5            8  Odmowa odpowiedzi/ brak danych    6   0,4%
6            9                     Nie dotyczy   33   2,2%

  Percentyl 75                            2,00 Col2   Col3
0            1                    Na pewno tak  731  49,2%
1            2                      Raczej tak  545  36,7%
2            3                      Raczej nie  118   7,9%
3            4                    Na pewno nie   43   2,9%
4            7               Trudno powiedzieć   40   2,7%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%
6            9                     Nie dotyczy    7   0,5%

  Percentyl 75                            4,00 Col2   Col3
0            1                    Na pewno tak  251  16,9%
1            2                      Raczej tak  269  18,1%
2            3                      Raczej nie  499  33,6%
3            4                    Na pewno nie  364  24,5%
4            7               Trudno powiedzieć   85   5,7%
5            8  Odmowa odpowiedzi/ brak danych    5   0,3%
6            9                     Nie dotyczy   13   0,9%

  Percentyl 75                            4,00  Col2   Col3
0            1                    Na pewno tak    19   1,3%
1            2                      Raczej tak    37   2,5%
2            3                      Raczej nie   318  21,4%
3            4                    Na pewno nie  1037  69,8%
4            7               Trudno powiedzieć    65   4,4%
5            8  Odmowa odpowiedzi/ brak danych     4   0,3%
6            9                     Nie dotyczy     6   0,4%

  Percentyl 75                            4,00 Col2   Col3
0            1                    Na pewno tak   44   3,0%
1            2                      Raczej tak  107   7,2%
2            3                      Raczej nie  340  22,9%
3            4                    Na pewno nie  908  61,1%
4            7               Trudno powiedzieć   78   5,2%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%
6            9                     Nie dotyczy    7   0,5%

  Percentyl 75                            3,00 Col2   Col3
0            1                    Na pewno tak  311  20,9%
1            2                      Raczej tak  469  31,6%
2            3                      Raczej nie  211  14,2%
3            4                    Na pewno nie   94   6,3%
4            7               Trudno powiedzieć   18   1,2%
5            8  Odmowa odpowiedzi/ brak danych    0   0,0%
6            9                     Nie dotyczy  383  25,8%

  Percentyl 75                            2,00  Col2   Col3
0            1                    Na pewno tak   194  13,1%
1            2                      Raczej tak   124   8,3%
2            3                      Raczej nie    33   2,2%
3            4                    Na pewno nie    26   1,7%
4            7               Trudno powiedzieć    14   0,9%
5            8  Odmowa odpowiedzi/ brak danych     0   0,0%
6            9                     Nie dotyczy  1095  73,7%

  Percentyl 75                            2,00 Col2   Col3
0            1                    Na pewno tak  620  41,7%
1            2                      Raczej tak  490  33,0%
2            3                      Raczej nie  177  11,9%
3            4                    Na pewno nie   68   4,6%
4            7               Trudno powiedzieć   66   4,4%
5            8  Odmowa odpowiedzi/ brak danych    7   0,5%
6            9                     Nie dotyczy   58   3,9%

  Percentyl 75                            2,00  Col2   Col3
0            1                    Na pewno tak   210  14,1%
1            2                      Raczej tak   181  12,2%
2            3                      Raczej nie    50   3,4%
3            4                    Na pewno nie    32   2,2%
4            7               Trudno powiedzieć     6   0,4%
5            8  Odmowa odpowiedzi/ brak danych     0   0,0%
6            9                     Nie dotyczy  1007  67,8%

  Percentyl 75                                               3,00 Col2   Col3
0            1                            Bardziej brak pieniędzy  498  33,5%
1            2                      Bardziej braki w zaopatrzeniu  215  14,5%
2            3              Jedno i drugie jest równie dokuczliwe  718  48,3%
3            4  Ani jedno, ani drugie nie jest specjalnie doku...   39   2,6%
4            7                                  Trudno powiedzieć   16   1,1%
5            8                     Odmowa odpowiedzi/ brak danych    0   0,0%

  Percentyl 75        Col1                                   3,00 Col3   Col4
0            1  Wystarczy,       może się nawet nieco zaoszczędzi  129   8,7%
1            2  Wystarczy,                      choć ledwo, ledwo  712  47,9%
2            3  Zabraknie,  trzeba będzie sięgnąć do oszczędności  341  22,9%
3            4  Zabraknie,                 trzeba będzie pożyczyć  147   9,9%
4            5  Inna odpow                           iedź (jaka?)   32   2,2%
5            7  Trudno pow                                iedzieć  125   8,4%
6            8    Odmowa o                 dpowiedzi/ brak danych    0   0,0%

  Percentyl 75                            3,00 Col2   Col3
0            1       Zdecydowanie się poprawia  104   7,0%
1            2             Raczej się poprawia  303  20,4%
2            3                 Nie zmienia się  901  60,6%
3            4             Raczej się pogarsza  102   6,9%
4            5       Zdecydowanie się pogarsza   31   2,1%
5            7               Trudno powiedzieć   44   3,0%
6            8  Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                            3,00 Col2   Col3
0            1       Zdecydowanie się poprawia   47   3,2%
1            2             Raczej się poprawia  330  22,2%
2            3                 Nie zmienia się  770  51,8%
3            4             Raczej się pogarsza  200  13,5%
4            5       Zdecydowanie się pogarsza   41   2,8%
5            7               Trudno powiedzieć   97   6,5%
6            8  Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                            4,00 Col2   Col3
0            1       Zdecydowanie się poprawia  108   7,3%
1            2             Raczej się poprawia  341  22,9%
2            3                 Nie zmienia się  382  25,7%
3            4             Raczej się pogarsza  459  30,9%
4            5       Zdecydowanie się pogarsza  129   8,7%
5            7               Trudno powiedzieć   66   4,4%
6            8  Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                            3,00 Col2   Col3
0            1       Zdecydowanie się poprawia   50   3,4%
1            2             Raczej się poprawia  310  20,9%
2            3                 Nie zmienia się  742  49,9%
3            4             Raczej się pogarsza  273  18,4%
4            5       Zdecydowanie się pogarsza   43   2,9%
5            7               Trudno powiedzieć   67   4,5%
6            8  Odmowa odpowiedzi/ brak danych    1   0,1%

   Percentyl 75               4,00 Col2   Col3
0             1        Warszawskie  114   7,7%
1             2  Bialsko-Podlaskie  380  25,6%
2             3       Białostockie  513  34,5%
3             4           Bielskie  306  20,6%
4             5          Bydgoskie  105   7,1%
5             6          Chełmskie    0   0,0%
6             7      Ciechanowskie   67   4,5%
7             8     Częstochowskie    1   0,1%
8             9          Elbląskie    0   0,0%
9            10           Gdańskie    0   0,0%
10           11         Gorzowskie    0   0,0%
11           12     Jeleniogórskie    0   0,0%
12           13           Kaliskie    0   0,0%

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                       4,00 Col2   Col3
0            1  Zdecydowanie się poprawia   30   2,0%
1            2        Raczej się poprawia  187  12,6%
2            3            Nie zmienia się  688  46,3%

  Percentyl 75                       4,00 Col2   Col3
0            1  Zdecydowanie się poprawia   15   1,0%
1            2        Raczej się poprawia  140   9,4%
2            3            Nie zmienia się  601  40,4%
3            4        Raczej się pogarsza  357  24,0%

  Percentyl 75                       4,00 Col2   Col3
0            1  Zdecydowanie się poprawia   38   2,6%
1            2        Raczej się poprawia  221  14,9%
2            3            Nie zmienia się  473  31,8%
3            4        Raczej się pogarsza  340  22,9%
4            5  Zdecydowanie się pogarsza  169  11,4%

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                       4,00 Col2   Col3
0            1  Zdecydowanie się poprawia   41   2,8%
1            2        Raczej się poprawia  185  12,4%
2            3            Nie zmienia się  451  30,3%
3
4            4        Raczej się pogarsza  304  20,5%

  Percentyl 75                       3,00 Col2   Col3
0            1  Zdecydowanie się poprawia  196  13,2%
1            2        Raczej się poprawia  518  34,9%
2            3            Nie zmienia się  261  17,6%
3            4        Raczej się pogarsza  122   8,2%
4            5  Zdecydowanie się pogarsza   48   3,2%

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                                              2,00 Col2   Col3
0            1  Skandalicznie wysokie, zupełnie nie do przyjęcia  847  57,0%
1            2                     Wysokie, ale można je przyjąć  565  38,0%
2            3                      Jeszcze nie są takie wysokie   29   2,0%
3            4                          Są właściwe, odpowiednie   26   1,7%

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                                              1,00  Col2   Col3
0            1  Skandalicznie wysokie, zupełnie nie do przyjęcia  1139  76,6%
1            2                     Wysokie, ale można je przyjąć   290  19,5%
2            3                      Jeszcze nie są takie wysokie    15   1,0%
3            4                          Są właściwe, odpowiednie     9   0,6%

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                                              1,00  Col2   Col3
0            1  Skandalicznie wysokie, zupełnie nie do przyjęcia  1105  74,4%
1            2                     Wysokie, ale można je przyjąć   305  20,5%
2            3                      Jeszcze nie są takie wysokie    31   2,1%
3            4                          Są właściwe, odpowiednie    17   1,1%

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                                              2,00 Col2   Col3
0            1  Skandalicznie wysokie, zupełnie nie do przyjęcia  515  34,7%
1            2                     Wysokie, ale można je przyjąć  497  33,4%
2            3                      Jeszcze nie są takie wysokie   93   6,3%
3            4                          Są właściwe, odpowiednie   65   4,4%

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                                              2,00 Col2   Col3
0            1  Skandalicznie wysokie, zupełnie nie do przyjęcia  680  45,8%
1            2                     Wysokie, ale można je przyjąć  568  38,2%
2            3                      Jeszcze nie są takie wysokie   46   3,1%
3            4                          Są właściwe, odpowiednie   14   0,9%

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                                              2,00 Col2   Col3
0            1  Skandalicznie wysokie, zupełnie nie do przyjęcia  396  26,6%
1            2                     Wysokie, ale można je przyjąć  745  50,1%
2            3                      Jeszcze nie są takie wysokie  150  10,1%
3
4            4                          Są właściwe, odpowiednie   74   5,0%

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                                              2,00 Col2   Col3
0            1  Skandalicznie wysokie, zupełnie nie do przyjęcia  920  61,9%
1            2                     Wysokie, ale można je przyjąć  341  22,9%
2            3                      Jeszcze nie są takie wysokie   20   1,3%
3            4                          Są właściwe, odpowiednie    9   0,6%

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                                              1,00  Col2   Col3
0            1  Skandalicznie wysokie, zupełnie nie do przyjęcia  1033  69,5%
1            2                     Wysokie, ale można je przyjąć   211  14,2%
2            3                      Jeszcze nie są takie wysokie     7   0,5%
3            4                          Są właściwe, odpowiednie    12   0,8%

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                                              1,00 Col2   Col3
0            1  Skandalicznie wysokie, zupełnie nie do przyjęcia  696  46,8%
1            2                     Wysokie, ale można je przyjąć  137   9,2%
2            3                      Jeszcze nie są takie wysokie   12   0,8%
3            4                          Są właściwe, odpowiednie   11   0,7%

  Percentyl 75                         3,00 Col2   Col3
0            1      Zdecydowanie zgadza się  321  21,6%
1            2            Raczej zgadza się  435  29,3%
2            3        Raczej nie zgadza się  319  21,5%
3            4  Zdecydowanie nie zgadza się  131   8,8%

  Percentyl 75                            2,00 Col2   Col3
0            1         Zdecydowanie zgadza się  557  37,5%
1            2               Raczej zgadza się  504  33,9%
2            3           Raczej nie zgadza się  250  16,8%
3            4     Zdecydowanie nie zgadza się   77   5,2%
4            7               Trudno powiedzieć   98   6,6%
5            8  Odmowa odpowiedzi/ brak danych    0   0,0%

  Percentyl 75                            2,00 Col2   Col3
0            1         Zdecydowanie zgadza się  678  45,6%
1            2               Raczej zgadza się  459  30,9%
2            3           Raczej nie zgadza się  179  12,0%
3            4     Zdecydowanie nie zgadza się   41   2,8%
4            7               Trudno powiedzieć  129   8,7%
5            8  Odmowa odpowiedzi/ brak danych    0   0,0%

  Percentyl 75                            4,00 Col2   Col3
0            1         Zdecydowanie zgadza się   82   5,5%
1            2               Raczej zgadza się  219  14,7%
2            3           Raczej nie zgadza się  535  36,0%
3            4     Zdecydowanie nie zgadza się  475  32,0%
4            7               Trudno powiedzieć  173  11,6%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1         Zdecydowanie zgadza się  605  40,7%
1            2               Raczej zgadza się  555  37,3%
2            3           Raczej nie zgadza się  105   7,1%
3            4     Zdecydowanie nie zgadza się   49   3,3%
4            7               Trudno powiedzieć  172  11,6%
5            8  Odmowa odpowiedzi/ brak danych    0   0,0%

  Percentyl 75                            2,00 Col2   Col3
0            1         Zdecydowanie zgadza się  803  54,0%
1            2               Raczej zgadza się  481  32,4%
2            3           Raczej nie zgadza się   40   2,7%
3            4     Zdecydowanie nie zgadza się   16   1,1%
4            7               Trudno powiedzieć  145   9,8%
5            8  Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                            3,00 Col2   Col3
0            1         Zdecydowanie zgadza się  351  23,6%
1            2               Raczej zgadza się  372  25,0%
2            3           Raczej nie zgadza się  302  20,3%
3            4     Zdecydowanie nie zgadza się  169  11,4%
4            7               Trudno powiedzieć  288  19,4%
5            8  Odmowa odpowiedzi/ brak danych    4   0,3%

  Percentyl 75                            2,00 Col2   Col3
0            1         Zdecydowanie zgadza się  770  51,8%
1            2               Raczej zgadza się  440  29,6%
2            3           Raczej nie zgadza się   72   4,8%
3            4     Zdecydowanie nie zgadza się   19   1,3%
4            7               Trudno powiedzieć  184  12,4%
5            8  Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                            3,00 Col2   Col3
0            1         Zdecydowanie zgadza się   95   6,4%
1            2               Raczej zgadza się  305  20,5%
2            3           Raczej nie zgadza się  428  28,8%
3            4     Zdecydowanie nie zgadza się  229  15,4%
4            7               Trudno powiedzieć  427  28,7%
5            8  Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1         Zdecydowanie zgadza się  490  33,0%
1            2               Raczej zgadza się  409  27,5%
2            3           Raczej nie zgadza się  198  13,3%
3            4     Zdecydowanie nie zgadza się   79   5,3%
4            7               Trudno powiedzieć  307  20,7%
5            8  Odmowa odpowiedzi/ brak danych    3   0,2%

  Percentyl 75                            4,00 Col2   Col3
0            1         Zdecydowanie zgadza się  129   8,7%
1            2               Raczej zgadza się  269  18,1%
2            3           Raczej nie zgadza się  414  27,9%
3            4     Zdecydowanie nie zgadza się  396  26,6%
4            7               Trudno powiedzieć  277  18,6%
5            8  Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                            2,00 Col2   Col3
0            1                       Mężczyzna  712  47,9%
1            2                         Kobieta  773  52,0%
2            8  Odmowa odpowiedzi/ brak danych    1   0,1%

Empty DataFrame
Columns: []
Index: []

  Percentyl 75        Col1 Col2        Col3            7,00 Col5   Col6
0            1        Wieś                                   549  36,9%
1            2   Miasto do    5  tys. miesz          kańców   24   1,6%
2            3  Miasto 6 –    1  0 tys. mie        szkańców   47   3,2%
3            4   Miasto 11    –  20 tys. mi       eszkańców  127   8,5%
4            5   Miasto 21    –  50 tys. mi       eszkańców  123   8,3%
5            6   Miasto 51    –  100 tys. m      ieszkańców  138   9,3%
6            7   Miasto 10    1  – 200 tys.     mieszkańców  110   7,4%
7            8   Miasto 20    1  – 500 tys.     mieszkańców  164  11,0%
8            9   Miasto po   wy  żej 500 ty  s. mieszkańców  202  13,6%
9           98      Odmowa   od   powiedzi/     brak danych    2   0,1%

  Percentyl 75                            5,00 Col2   Col3
0            1             Niepełne podstawowe  102   6,9%
1            2            Podstawowe ukończone  526  35,4%
2            3             Zasadnicze zawodowe  323  21,7%
3            4                Niepełne średnie   66   4,4%
4            5        Średnie ogólnokształcące  110   7,4%
5            6                Średnie zawodowe  222  14,9%
6            7                     Pomaturalne   21   1,4%
7            8                 Niepełne wyższe   19   1,3%
8            9                          Wyższe   96   6,5%
9           98  Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                            2,00  Col2   Col3
0            1                             Tak   353  23,8%
1            2                             Nie  1104  74,3%
2            8  Odmowa odpowiedzi/ brak danych    29   2,0%

  Percentyl 75                                  2,00  Col2   Col3
0            1                           ND: q255<>1  1133  76,2%
1                      Pan (i) lub współmałżonka(ek)   212  14,3%
2            2  Rodzice, dzieci, ktoś inny z rodziny   133   9,0%
3            3                            Osoba obca     2   0,1%
4            8        Odmowa odpowiedzi/ brak danych     6   0,4%

,Percentyl 75,Col1,Col2,"7,00",Col4,Col5
0,1,Pracuję w,zakładzie,państwowym,670,"45,1%"
1,2,Pracuję w,zakładzie,spółdzielczym,108,"7,3%"
2,3,Pracuję w,organizac,ji społecznej lub politycznej,6,"0,4%"
3,4,Pracuję w,zakładzie,prywatnym,66,"4,4%"
4,5,Prowadzę,działalnoś,ć zarobkową na własny rachunek,29,"2,0%"
5,6,Pracuję tyl,ko w indy,widualnym gospodarstwie rolnym,194,"13,1%"
6,7,Nigdzie ni,"e pracuję,",jestem na rencie lub emeryturze,259,"17,4%"
7,8,Nigdzie ni,"e pracuję,","jestem uczniem, studentem",62,"4,2%"
8,9,Nigdzie ni,"e pracuję,","wychowuję dzieci, zajmuję się",69,"4,6%"
9,,domem,,,,
10,,,,,,
11,10,Nigdzie ni,e pracuję z,innych powodów,23,"1,5%"

  Percentyl 75                                  3,00  Col2   Col3
0            1                            ND: 257<>4  1420  95,6%
1                       Pan(i) lub współmałżonka(ek)    18   1,2%
2            2  Rodzice, dzieci, ktoś inny z rodziny     3   0,2%
3            3                            Osoba obca    44   3,0%
4            8        Odmowa odpowiedzi/ brak danych     1   0,1%

,Percentyl 75,Col1,"81,00",Col3,Col4
0,1,Kierownictwo i wyższe kadry admin,istracji państwowej,1,"0,1%"
1,,oraz organizacji społeczno-politycz,nych szczebla,,
2,,centralnego,,,
3,2,Kierownictwo administracji państwo,wej oraz,0,"0,0%"
4,,organizacji społeczno-politycznych,szczebla,,
5,,wojewódzkiego,,,
6,3,Kierownictwo administracji państwo,wej oraz,0,"0,0%"
7,,organizacji społeczno-politycznych,szczebla miast,,
8,4,Kierownictwo administracji państwo,wej oraz,2,"0,1%"
9,,organizacji społeczno-politycznych,szczebla małych,,
10,,miast oraz gmin,,,
11,5,Kadra kierownicza centralnych zrze,szeń i innych,1,"0,1%"
12,,centralnych instytucji gospodarczyc,h,,

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

   Percentyl 75                          11,00 Col2   Col3
0             1    KIEROWNICTWO I WYŻSZE KADRY    7   0,5%
1             2     INTELIGENCJA NIETECHNICZNA   37   2,5%
2             3        INTELIGENCJA TECHNICZNA   23   1,5%
3             4                       TECHNICY   60   4,0%
4             5  PRACOWNICY UMYSŁOWI ŚREDNIEGO  118   7,9%
5                                     SZCZEBLA
6
7             6             PRACOWNICY BIUROWI   54   3,6%
8             7      PRACOWNICY HANDLU I USŁUG   83   5,6%
9             8                    BRYGADZIŚCI   12   0,8%
10            9     ROBOTNICY WYKONUJĄCY PRACE  279  18,8%
11                               KWALIFIKOWANE
12
13           10     ROBOTNICY OD PRAC PROSTYCH   58   3,9%

Empty DataFrame
Columns: []
Index: []

  Percentyl 75                            4,00 Col2  Col3
0            4                  Inna odpowiedź    0  0,0%
1            5       Odpowiedź zbyt lakoniczna    0  0,0%
2            6          Odpowiedź nie na temat    0  0,0%
3            7               Trudno powiedzieć    0  0,0%
4            8  Odmowa odpowiedzi/ brak danych    5  0,3%

  Percentyl 75                          885,00 Col2  Col3
0            1                    Brak dochodu    2  0,1%
1            2         1 tys. zł. - 2 tys. zł.    1  0,1%
2         9991       9 991 tys. zł. lub więcej    2  0,1%
3         9994                  Inna odpowiedź    2  0,1%
4         9995       Odpowiedź zbyt lakoniczna    0  0,0%
5         9997               Trudno powiedzieć   17  1,1%
6         9998  Odmowa odpowiedzi/ brak danych   11  0,7%

  Percentyl 75                          250,00 Col2  Col3
0            1                    Brak dochodu    1  0,1%
1            2         1 tys. zł. - 2 tys. zł.    0  0,0%
2         9991       9 991 tys. zł. lub więcej    0  0,0%
3         9994                  Inna odpowiedź    1  0,1%
4         9995       Odpowiedź zbyt lakoniczna    1  0,1%
5         9997               Trudno powiedzieć   19  1,3%
6         9998  Odmowa odpowiedzi/ brak danych   12  0,8%

  Percentyl 75                            4,00 Col2   Col3
0            1                      bardzo złe   63   4,2%
1            2                             złe  125   8,4%
2            3                      raczej złe  313  21,1%
3            4             średnie, przeciętne  796  53,6%
4            5                      dość dobre  136   9,2%
5            6                           dobre   48   3,2%
6            7                    bardzo dobre    3   0,2%
7           98  Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                                2,00 Col2   Col3
0            1  Tak, codziennie, prawie codziennie  767  51,6%
1            2          Tak, kilka razy w tygodniu  469  31,6%
2            3       Tak, ale rzadko, okazjonalnie  218  14,7%
3            4                    Nie, w ogóle nie   31   2,1%
4            7                   Trudno powiedzieć    0   0,0%
5            8      Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                                3,00 Col2   Col3
0            1  Tak, codziennie, prawie codziennie  471  31,7%
1            2          Tak, kilka razy w tygodniu  506  34,1%
2            3       Tak, ale rzadko, okazjonalnie  412  27,7%
3            4                    Nie, w ogóle nie   96   6,5%
4            7                   Trudno powiedzieć    0   0,0%
5            8      Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                                3,00 Col2   Col3
0            1  Tak, codziennie, prawie codziennie  397  26,7%
1            2          Tak, kilka razy w tygodniu  454  30,6%
2            3       Tak, ale rzadko, okazjonalnie  457  30,8%
3            4                    Nie, w ogóle nie  177  11,9%
4            7                   Trudno powiedzieć    0   0,0%
5            8      Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                                3,00 Col2   Col3
0            1  Tak, codziennie, prawie codziennie  379  25,5%
1            2          Tak, kilka razy w tygodniu  340  22,9%
2            3       Tak, ale rzadko, okazjonalnie  526  35,4%
3            4                    Nie, w ogóle nie  240  16,2%
4            7                   Trudno powiedzieć    0   0,0%
5            8      Odmowa odpowiedzi/ brak danych    1   0,1%

  Percentyl 75                                4,00  Col2   Col3
0            1  Tak, codziennie, prawie codziennie    30   2,0%
1            2          Tak, kilka razy w tygodniu    72   4,8%
2            3       Tak, ale rzadko, okazjonalnie   287  19,3%
3            4                    Nie, w ogóle nie  1095  73,7%
4            7                   Trudno powiedzieć     1   0,1%
5            8      Odmowa odpowiedzi/ brak danych     1   0,1%

  Percentyl 75                                4,00 Col2   Col3
0            1  Tak, codziennie, prawie codziennie  101   6,8%
1            2          Tak, kilka razy w tygodniu  183  12,3%
2            3       Tak, ale rzadko, okazjonalnie  464  31,2%
3            4                    Nie, w ogóle nie  736  49,5%
4            7                   Trudno powiedzieć    0   0,0%
5            8      Odmowa odpowiedzi/ brak danych    2   0,1%

  Percentyl 75                                4,00 Col2   Col3
0            1  Tak, codziennie, prawie codziennie  315  21,2%
1            2          Tak, kilka razy w tygodniu  297  20,0%
2            3       Tak, ale rzadko, okazjonalnie  408  27,5%
3            4                    Nie, w ogóle nie  429  28,9%
4            7                   Trudno powiedzieć    0   0,0%
5            8      Odmowa odpowiedzi/ brak danych   37   2,5%

   Percentyl 75                                     34,00 Col2   Col3
0             1                               Solidarność  667  44,9%
1             2            Solidarność i jej partie, rząd   10   0,7%
2             3      OKP (Obywatelski Klub Parlamentarny)   16   1,1%
3             4  Solidarność RI (Rolników Indywidualnych)    9   0,6%
4             5                         PSL "Solidarność"    1   0,1%
5             6                                       PSL   17   1,1%
6             7                         ZSL " Odrodzenie"   39   2,6%
7             8                               ZSL "Piast"    0   0,0%
8             9            SD (Stronnictwo Demokratyczne)   32   2,2%
9            10                     Centrum Demokratyczne    1   0,1%
10           11      Zjednoczenie Chrześcijańsko-Narodowe    0   0,0%
11           12                      Stronnictwo Narodowe    2   0,1%

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

     1            Solidarność                             Col2 10  0,7%
0    2  Solidarność i jej par                        tie, rząd  0  0,0%
1    3     OKP (Obywatelski K               lub Parlamentarny)  2  0,1%
2    4    Solidarność RI (Rol            ników Indywidualnych)  2  0,1%
3    5      PSL "Solidarność"                                   0  0,0%
4    6                    PSL                                   6  0,4%
5    7      ZSL " Odrodzenie"                                   7  0,5%
6    8            ZSL "Piast"                                   0  0,0%
7    9     SD (Stronnictwo De                     mokratyczne)  3  0,2%
8   10      Centrum Demokraty                             czne  0  0,0%
9   11     Zjednoczenie Chrze               ścijańsko-Narodowe  1  0,1%
10  12     Stronnictwo Narodo                               we  0  0,0%
11  13      Stronnictwo Pracy                                   1  0,1%
12  14      KPN (Konfederacja             Polski Niepodległej)  1  0,1%
13  15     PPZ (Polska Partia                       Zielonych)  0  0,0%
14  16                   PZPR                                   2  0,1%
15  17           Ruch 8 LIPCA                                   0  0,0%
16  18                   OPZZ                                   2  0,1%
17  19       Ruch Ludzi Pracy                                   0  0,0%
18  20     PPS (Polska Partia                  Socjalistyczna)  0  0,0%
19  21                 PPS-RD                                   0  0,0%
20  22     NZS (Niezależne Zr              zeszenie Studentów)  1  0,1%
21  23   Unia Polityki Realne                  j - liberałowie  0  0,0%
22  24      koalicja rządząca                                   0  0,0%
23  25   partie ludowe, chłop                   skie - ogólnie  0  0,0%
24  26  partie socjalistyczne  , socjaldemokratyczne - ogólnie  2  0,1%

Empty DataFrame
Columns: []
Index: []

   Percentyl 75                                      9,00 Col2  Col3
0             1                               Solidarność    1  0,1%
1             2            Solidarność i jej partie, rząd    0  0,0%
2             3      OKP (Obywatelski Klub Parlamentarny)    0  0,0%
3             4  Solidarność RI (Rolników Indywidualnych)    0  0,0%
4             5                         PSL "Solidarność"    0  0,0%
5             6                                       PSL    3  0,2%
6             7                         ZSL " Odrodzenie"    0  0,0%
7             8                               ZSL "Piast"    0  0,0%
8             9            SD (Stronnictwo Demokratyczne)    1  0,1%
9            10                     Centrum Demokratyczne    0  0,0%
10           11      Zjednoczenie Chrześcijańsko-Narodowe    0  0,0%
11           12                      Stronnictwo Narodowe    0  0,0%

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

In [657]:
print(dataframes)

  Percentyl 75                            3,00 Col2   Col3
0            1                      z nadzieją  276  18,6%
1            2       z nadzieją, ale i z obawą  736  49,5%
2            3                 czy też z obawą  457  30,8%
3            7               trudno powiedzieć    2   0,1%
4            8  odmowa odpowiedzi/ brak danych   15   1,0%